<template>
  <textarea
    :name="name"
    :id="name"
    :placeholder="placeholder"
    :value="modelValue"
    @input="$emit('update', $event.target.value); resizeTA($event)"
    class="w-full border border-purple-600 box-border rounded-md text-center overscroll-none"

  />
</template>

<script>
export default {
  name: "AppFormTextarea",
  props: {
    name: {
      required: true,
      type: String,
    },
    modelValue: {
      required: false,

    },
    placeholder: {
      required: false,
      type: String,
    }
  },
  methods: {
     // https://www.youtube.com/watch?v=HDiPOkFIP60
    resizeTA(e) {
      e.target.style.height = 'auto'
      e.target.style.height = `${e.target.scrollHeight}px`
    }
  },
}
</script>

