<template>

  <div class="flex h-screen bg-gray-200 font-roboto">
    <Sidebar />
    <div class="flex-1 flex flex-col overflow-hidden">
      <Header @on-search="setSearch" />
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
        <div class="mx-auto px-4 py-4">
          <router-view v-slot="{ Component }">
            <component :is="Component" />
          </router-view>
        </div>
      </main>
    </div>
  </div>

  <!--<div class="flex h-screen bg-gray-200 font-roboto">
    <Sidebar />
    <div class="flex-1 flex flex-col overflow-hidden">
      <Header />
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
        <div class="mx-auto px-4 py-4">
         <Suspense>
            <template #default>
              <router-view v-slot="{ Component }">
                <keep-alive include="UserList">
                  <component :is="Component" />
                </keep-alive>
              </router-view>
            </template>
            <template #fallback>
              <div class=" flex justify-center items-center h-screen">
                <div class="animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-purple-600"></div>
              </div>
            </template>
          </Suspense>
        </div>
      </main>
    </div>
  </div>-->
</template>


<script>


import Sidebar from '@/components/VsideBar'
import Header from '@/components/Vheader'
import { defineComponent } from 'vue'

import RubricService from '@/services/rubric.service'
import UserService from '@/services/user.service'

import { mapGetters, mapMutations } from 'vuex'

//export default {
export default defineComponent({
  name: "Dashboard",
  components: {
    Sidebar,
    Header,
    //Login,
    //UserList,
  },
  setup() {
    //const users = ref([])
    // Add users from Database to VUEX state
    //await this.getAllUsers()
    return {
      //users,
    };
  },
  /*data() {
    return {
      date: new Date().getFullYear(),
    }
  },*/

  computed: {
    ...mapGetters([
      'getUsersLoaded',
      'getRubricsLoaded',
      ],
    ),

    currentUser() {
      return this.$store.state.auth.user
    },
    showAdminBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showadminboard="+this.currentUser['role']);
          return this.currentUser['role'].includes('admin')
      }
      return false
    },
    showTeacherBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showTeacherBoard="+this.currentUser['role']);
        return this.currentUser['role'].includes('teacher')
      }
      return false
    },
    showStudentBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showStudentBoard="+this.currentUser['role']);
        return this.currentUser['role'].includes('student')
      }
      return false
    },
  },

  methods: {
    ...mapMutations([
      'CHANGE_SIDEBAR_SELECTION',
      'CHANGE_SEARCH_TEXT',
      'CHANGE_USERS_LOADED',
      'CHANGE_RUBRICS_LOADED',
      'ADD_USERS',
      'ADD_RUBRICS',
    ]),
    setSearch(text) {
      this.CHANGE_SEARCH_TEXT(text)
    },
    async getAllUsers() {

      // Añadimos los usuarios de la respueta de la API
      await UserService.getUsersList().then(
      (response) => {
        let users = response.data.users
        console.log(users)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newUsers = users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          if(u.teaching_levels)
            newU.teaching_levels = JSON.parse(u.teaching_levels)  
            
          return newU
        })
        users = newUsers
        
        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        this.ADD_USERS(users)
        console.log("Añadidos los usuarios al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );
      
    },
    async getAllRubrics() {

      await RubricService.getRubricList().then(
      (response) => {
        let rubrics = response.data.rubrics
        console.log(this.rubrics)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newRubrics = rubrics.map(function(r) {
          const newR = r
          newR.id = parseInt(r.id, 10)
          if(r.data)
            newR.data = JSON.parse(r.data) // Items de la rúbrica (criteria)
          if(r.t_available_for)
            newR.t_available_for = JSON.parse(r.t_available_for) // Profesores que pueden ver la rúbrica
          if(r.teaching_levels)
            newR.teaching_levels = JSON.parse(r.teaching_levels) // Nieveles en los que se puede ver la rúbrica
          return newR
        })
        //this.rubrics = newRubrics
        this.ADD_RUBRICS(newRubrics)
        console.log("Añadidas las Rúbricas al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },
    /*async getAllUsers() {
      
      // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
      UserService.getUsersList().then(
      (response) => {
        let users = response.data.users
        //console.log(this.users)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newUsers = users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          if(u.teaching_levels)
            newU.teaching_levels = JSON.parse(u.teaching_levels)  
            
          return newU
        })
        users = newUsers
        //console.log("users a añadir:")
        //console.log(users)

        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        for(let i=0; i< users.length; i++) {
          this.ADD_USER_WITH_FULL_NAME({"id":  users[i].id, "fullname": `${ users[i].firstname} ${ users[i].lastname}` })
          users[i]['fullname'] = `${ users[i].firstname} ${ users[i].lastname}`
        }
        
        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        this.ADD_USERS(users)
        console.log("Añadidos los usuarios al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },*/
    // Get all Rubrics
    /*getAllRubrics() {
      RubricService.getRubricList().then(
      (response) => {
        this.rubrics = response.data.rubrics
        //console.log(this.rubrics)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newRubrics = this.rubrics.map(function(r) {
          const newR = r
          newR.id = parseInt(r.id, 10)
          if(r.data)
            newR.data = JSON.parse(r.data) // Items de la rúbrica (criteria)
          if(r.t_available_for)
            newR.t_available_for = JSON.parse(r.t_available_for) // Profesores que pueden ver la rúbrica
          if(r.teaching_levels)
            newR.teaching_levels = JSON.parse(r.teaching_levels) // Nieveles en los que se puede ver la rúbrica
          return newR
        })
        //this.rubrics = newRubrics
        this.ADD_RUBRICS(newRubrics)
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },*/
  },

  async created() {
    /*if (!this.loggedIn) {
      this.$router.push({ name: "Login"})
    }*/
    console.log("getUsersLoaded:"+this.getUsersLoaded())
    if(!this.getUsersLoaded()) {
      // Add users from Database to VUEX state
      await this.getAllUsers()
      this.CHANGE_USERS_LOADED(true)
    }
    console.log("getUsersLoaded(2):"+this.getUsersLoaded())
    
    console.log("getrubricsLoaded:"+this.getRubricsLoaded())
    if(!this.getRubricsLoaded()) {
    // Add rubrics from DataBase to VUEX state
      await this.getAllRubrics()
      this.CHANGE_RUBRICS_LOADED(true)
    }
    console.log("getrubricsLoaded(2):"+this.rubricsLoaded)

    this.CHANGE_SIDEBAR_SELECTION('/')
  },

  mounted() {
    //this.CHANGE_SIDEBAR_SELECTION('users')  
    console.log("Dashboard, mounted!")
    
  },

  /*updated() {
    this.$nextTick(function () {
      // Code that will run only after the
      // entire view has been re-rendered
      this.getAllUsers()
      this.$forceUpdate()
    })
  }*/

});
</script>
