<template>
  <!-- Footer -->
  <footer class="block py-2">
    <div class="container mx-auto px-2">
      <hr class="mb-4 border-b-1 border-blueGray-200" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full px-4">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            MIT License {{date}}
            <a
              href="https://sat.iescotesbaixes.org"
              class="link-primary"
            >
              Skills Assessment Tool
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      date: new Date().getFullYear()
    }
  },
  
};
</script>

