<template>

   <!-- mobile menu bar -->
  <div class="bg-gray-100 text-gray-100 flex justify-between md:hidden">
    <a href="#" class="block p-1 text-white font-bold"><img src="../assets/sat-logo.svg" class="px-0 h-16 w-16"></a>
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700" @click="changeMenu" @focusout="changeMenu">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="transparent" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- Sidebar -->
    <div 
      class="sidebar bg-purple-700 text-gray-200 w-48 space-y-6 py-2 px-2 absolute inset-y-0 left-0 mt-18 md:mt-0 transform 
              md:translate-x-0 md:relative transition duration-200 ease-in-out"
      :class="{'-translate-x-full': toggledMenu}"
    >
    <!--<div
      class="sidebar z-20 flex-shrink-0 hidden w-48 overflow-y-auto bg-white dark:bg-gray-800 md:block"
      :class="{'-translate-x-full': toggledMenu}"
    >-->
      <a href="/"><img src="../assets/sat-logo.svg" class="px-4 h-24 w-32"></a>
      <nav>
        <a 
          href="#" 
          class="block py-2.5 px-4 rounded transition duration-200 hover:text-white hover:bg-indigo-400"
          @click.prevent="changeMenu"
        >Reptes</a>
        <a 
          href="#" 
          class="block py-2.5 px-4 rounded transition duration-200 hover:text-white hover:bg-indigo-400"
          @click.prevent="changeMenu"
        >Usuaris</a>
        <a 
          href="#" 
          class="block py-2.5 px-4 rounded transition duration-200 hover:text-white hover:bg-indigo-400"
          @click.prevent="changeMenu"
        >Rúbriques</a>
        <router-link to="/profile" 
          class="block py-2.5 px-4 rounded transition duration-200 hover:text-white hover:bg-indigo-400"
          @click.prevent="changeMenu"
        >Perfil</router-link>

        <router-link 
          to="/logout"
          class="block py-2.5 px-4 rounded transition duration-200 hover:text-white hover:bg-indigo-400"
          @click="logOut"
        >Eixir</router-link>
      </nav>
    </div>


 
</template>

<script>
 
export default {
  name: "NavBar",
  data() {
    return {
      toggledMenu : true,
    }
  },
  methods: {
    // Fuente: https://jsfiddle.net/jamesbrndwgn/eywraw8t/403457/
    changeMenu() {
      this.toggledMenu = !this.toggledMenu;
    },
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
    },
  }
};
</script>

