<template>
  <!--<nav
    class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden 
            shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-2 px-4"
  >-->
  <nav 
    class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden md:w-56 
            fixed z-40 w-full bg-white top-0 flex flex-wrap items-center justify-between px-2 py-3 h-auto shadow-lg"
  >
    <div
      class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap
              px-0 flex flex-wrap items-center justify-between w-full mx-auto"
    >
      <!-- Toggler -->
      <button
        class="cursor-pointer text-black opacity-50 md:hidden px-2 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
        type="button"
        @click="toggleCollapseShow('bg-white m-2 py-3 px-6')"
      >
        <!--<i class="fas fa-bars"></i>-->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="transparent" viewBox="0 0 20 20" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <!-- Brand -->
      <a
        class="md:block text-center md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-0"
        href="/"
      >
        <img src="../assets/sat-logo.svg" class="mx-auto px-0 h-16 w-16">
      </a>
      <!-- User -->
      <!--<ul class="md:hidden items-center flex flex-wrap list-none">
        <li class="inline-block relative">
          <notification-dropdown-component></notification-dropdown-component>
        </li>
        <li class="inline-block relative">
          <user-dropdown-component></user-dropdown-component>
        </li>
      </ul>-->
      <!-- Collapse -->
      <div
        class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 inset-x-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
        :class="collapseShow"
      >
        <!-- Collapse header -->
        <div
          class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
        >
          <div class="flex flex-wrap">
            <div class="w-6/12">
              <a
                class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                href="javascript:void(0)"
              >
                Skills Assessment Tool
              </a>
            </div>
            <div class="w-6/12 flex justify-end">
              <button
                type="button"
                class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                @click="toggleCollapseShow('hidden')"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8  " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
                <!--<i class="fas fa-times"></i>-->
              </button>
              <!--<button 
                type="button"
                class="cursor-pointer text-gray-800 opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent focus:outline-none focus:bg-gray-200" 
                @click="changeMenu" 
                @focusout="focusOutMenu"
              >
                
              </button>-->
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-6 mb-4 md:hidden">
          <div class="mb-3 pt-0">
            <input
              type="text"
              placeholder="Search"
              class="border-0 px-3 py-2 h-12 border border-solid  border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
            />
          </div>
        </form>
        <!-- Navigation -->
       
        <!-- Divider -->
        <!--<hr class="my-4 md:min-w-full" />-->
        <!-- Heading -->
        <!--<ul class="menu compact h-full py-0 shadow-lg bg-base-100">-->
        <ul class="drawer-side menu md:flex-col md:min-w-full flex flex-col list-none">
          <li
            :class="[getSideBarSelection === 'users' ? 'bordered' : 'hover-bordered']"
          >
            <router-link 
              to="#" 
              @click.prevent="itemUsersVisible = !itemUsersVisible"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
                  {{ $t("sidebar.users") }}
                
            </router-link>
          </li>
          <ul class="menu " v-show="itemUsersVisible">
            <li>
              <router-link
                to="/users"
              >
              <!--
              <router-link
                to="/users"
                @click="changeMenuSelection('users')"
              >-->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                </svg>
                    {{ $t("sidebar.userslist") }}
              </router-link>
            </li> 
            <li>
              <router-link
                :to="{ name: 'UserAdd' }">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                </svg>
                    {{ $t("sidebar.usersadd") }}             
              </router-link> 
            </li>
          </ul>

          <!--<li 
            :class="[getSideBarSelection === 'challenges' ? 'bordered' : 'hover-bordered']"
          >
            <router-link 
              to="/challenges" 
                @click.prevent="changeMenuSelection('challenges')"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
              Reptes
            </router-link>
          </li> 

          <li 
            :class="[getSideBarSelection === 'rubrics' ? 'bordered' : 'hover-bordered']"
          >
            <router-link 
              to="/rubrics" 
                @click.prevent="changeMenuSelection('rubrics')"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
              Rúbriques
            </router-link>
          </li>     
          -->
          <li 
            :class="[getSideBarSelection === 'profile' ? 'bordered' : 'hover-bordered']"
          >
            <!--<router-link 
              to="/profile" 
              @click.prevent="itemProfileVisible = !itemProfileVisible"
              >-->
            <router-link 
              :to="{ name: 'profile'}" 
              @click.prevent="itemProfileVisible = !itemProfileVisible"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
              {{ $t("sidebar.profile") }}
            </router-link>
          </li>
            <!--<ul class="menu " v-show="itemProfileVisible">
              <li>
                <router-link
                  to="/profile"
                  @click="changeMenuSelection('profile')"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      Perfil 1
                </router-link>
              </li> 
              <li>
                <a>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      PErfil 2              
                </a> 
              </li>
            </ul>-->
          <!-- Languages -->
          <li 
            :class="[getSideBarSelection === 'language' ? 'bordered' : 'hover-bordered']"
          >
            <router-link 
              to="#" 
              @click.prevent="itemLanguageVisible = !itemLanguageVisible"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
              {{ $t("sidebar.lang") }}
            </router-link>
          </li>
            <ul class="menu " v-show="itemLanguageVisible">
              <li>
                <router-link
                  to="#"
                  @click="changeLanguage('ca')"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      {{ $t("sidebar.lang_ca")}}
                </router-link>
              </li> 
              <li>
                <router-link
                  to="#"
                  @click="changeLanguage('es')"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      {{ $t("sidebar.lang_es")}}
                </router-link>
              </li> 
              <li>
                <router-link
                  to="#"
                  @click="changeLanguage('en')"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      {{ $t("sidebar.lang_en")}}
                </router-link>
              </li> 
            </ul>
          <!-- Exit --> 
          <div class="border border-1 border-gray-400 mt-2 mb-4"></div> 
          <li class="hover-bordered">
            <router-link
              to="/logout"
              @click="logOut"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
              {{ $t("sidebar.exit") }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
//import NotificationDropdownComponent from "./NotificationDropdown.vue";
//import UserDropdownComponent from "./UserDropdown.vue";
import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
  name: "SideBar",
  data() {
    return {
      toggledMenu: true,
      collapseShow: "hidden",
      itemUsersVisible: false,
      itemChallengesVisible: false,
      itemRubricsVisible: false,
      itemProfileVisible: false,
      itemLanguageVisible: false,
    };
  },
  computed: {
    ...mapState(['sideBarSelection']),
    ...mapGetters(['getSideBarSelection']),
  },
  methods: {
    ...mapMutations(['CHANGE_SIDEBAR_SELECTION']),
    toggleCollapseShow: function(classes) {
      this.collapseShow = classes;
    },
    changeMenu() {
      this.toggledMenu = !this.toggledMenu
    },
    changeMenuSelection (newSelection) {
      this.changeMenu()
      //console.log("newSelection="+newSelection)
      this.CHANGE_SIDEBAR_SELECTION(newSelection)
    },
    changeLanguage(newLang) {
      this.itemLanguageVisible = !this.itemLanguageVisible
      this.$i18n.locale = newLang
      // recargar la página donde estemos
      this.$forceUpdate()
    },
    logOut() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/')
    },
  },
  /*components: {
    NotificationDropdownComponent,
    UserDropdownComponent
  }*/
};
</script>
