<template>

<div class="rounded-lg shadow bg-base-200 drawer drawer-mobile h-">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"> 
  <div class="flex flex-col items-center justify-center drawer-content">
    <label for="my-drawer-2" class="mb-4 btn btn-primary drawer-button md:hidden">open menu</label> 
    <!--<div class="hidden text-xs text-center lg:block">Menu is always open on desktop size.
      <br>Resize the browser to see toggle button on mobile size
    </div>--> 
    <div class="text-xs text-center lg:hidden">Menu can be toggled on mobile size.
      <br>Resize the browser to see fixed sidebar on desktop size
    </div>
  </div> 

  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay h-full sticky top-0"></label> 
    <ul class="menu comact p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
      <li>
        <a>Menu Item</a>
      </li> 
      <li>
        <a>Menu Item</a>
      </li>
    </ul>
  </div>

</div>

  <!--<div>-->

    <!-- mobile menu bar -->
    
      <!--<nav class="md:hidden bg-gray-50 text-gray-100 flex h-14 justify-between fixed absolute top-0 inset-x-0">-->
    <!--<div class="py-7">
      <nav class="md:hidden fixed top-0 inset-x-0 h-14 text-gray-100 bg-gray-50 font-medium flex justify-between items-center shadow-lg">
        <a href="/" class="block p-1 text-gray-800 font-bold"><img src="../assets/sat-logo.svg" class="px-0 h-12 w-12"></a>
        <button 
          class="p-4 text-gray-800 focus:outline-none focus:bg-gray-200" 
          @click="changeMenu" 
          @focusout="focusOutMenu"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="transparent" viewBox="0 0 20 20" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </nav>  
    </div>-->
    <!-- ACTUAL
    <nav class="bg-gray-50 text-gray-100 flex justify-between fixed absolute top-0 inset-x-0 h-14 md:hidden">
      <a href="/" class="block p-1 text-white font-bold"><img src="../assets/sat-logo.svg" class="px-0 h-12 w-12"></a>
      <button class="p-4 text-gray-800 focus:outline-none focus:bg-gray-200" @click="changeMenu" @focusout="focusOutMenu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="transparent" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </nav>
    -->

    <!-- Sidebar -->
    <!--<div 
      class="relative fixed top-0 inset-y-0 left-0 w-52 md:mt-0 transform 
                  md:translate-x-0 transition duration-200 ease-in-out bg-base-200"
      :class="{'-translate-x-full': toggledMenu}"
    >-->
<!-- ACTUAL
    <aside 
      class="sidebar bg-base-200 text-gray-200 w-52 space-y-2 absolute inset-y-0 left-0 mt-14 md:mt-0 md:mt-0 transform 
              md:translate-x-0 md:relative transition duration-200 ease-in-out"
      :class="{'-translate-x-full': toggledMenu}"
    >
      <ul class="menu compact h-full py-4 shadow-lg bg-base-100">
        
        <li class="menu-title sm:hidden">
          <span>
            <router-link
              to="/" 
              class="mx-auto"
              @click.prevent="changeMenu"
            >
              <img src="../assets/sat-logo.svg" class="h-14 w-14">
            </router-link>

          </span>

        </li>         
        <li
          :class="[getSideBarSelection === 'users' ? 'bordered' : 'hover-bordered']"
        >
          <router-link 
            to="#" 
            @click.prevent="itemUsersVisible = !itemUsersVisible"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
            </svg>
                Usuaris
              
          </router-link>
        </li>
        <ul class="menu " v-show="itemUsersVisible">
          <li>
            <router-link
              to="/user"
              @click.prevent="changeMenuSelection('users')"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
                  Llistat d'usuaris
            </router-link>
          </li> 
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
              </svg>
                  PErfil 2              
            </a> 
          </li>
        </ul>

        <li 
          :class="[getSideBarSelection === 'challenges' ? 'bordered' : 'hover-bordered']"
        >
          <router-link 
            to="/challenges" 
              @click.prevent="changeMenuSelection('challenges')"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
            </svg>
            Reptes
          </router-link>
        </li> 

        <li 
          :class="[getSideBarSelection === 'rubrics' ? 'bordered' : 'hover-bordered']"
        >
          <router-link 
            to="/rubrics" 
              @click.prevent="changeMenuSelection('rubrics')"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
            </svg>
            Rúbriques
          </router-link>
        </li>     

        <li 
          :class="[getSideBarSelection === 'profile' ? 'bordered' : 'hover-bordered']"
        >
          <router-link 
            to="#" 
            @click.prevent="itemProfileVisible = !itemProfileVisible"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
            </svg>
            Ver Perfil
          </router-link>
        </li>
          <ul class="menu " v-show="itemProfileVisible">
            <li>
              <router-link
                to="/profile"
                @click.prevent="changeMenuSelection('profile')"
              >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                </svg>
                    Perfil 1
              </router-link>
            </li> 
            <li>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                </svg>
                    PErfil 2              
              </a> 
            </li>
          </ul>
        <div class="border border-1 border-gray-400 mt-2 mb-4"></div> 
        <li class="hover-bordered">
          <router-link
            to="/logout"
            @click="logOut"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">          
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
            </svg>Eixir
          </router-link>
        </li>
      </ul>
    </aside>
-->
  <!--</div>-->


</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
 
export default {
  name: "TheSideBar",
  data() {
    return {
      toggledMenu : true,
      itemUsersVisible: false,
      itemChallengesVisible: false,
      itemRubricsVisible: false,
      itemProfileVisible: false,
    }
  },
  computed: {
    /*itemSelected () {
      return this.$store.state.sideBarSelection
    }*/
    ...mapState(['sideBarSelection']),
    ...mapGetters(['getSideBarSelection']),
  },
  methods: {
    ...mapMutations(['CHANGE_SIDEBAR_SELECTION']),
    changeMenu() {
      this.toggledMenu = !this.toggledMenu
    },
    // setter
    changeMenuSelection (newSelection) {
      this.changeMenu()
      /*this.$store.commit({
            type: "changeSideBarSelection",
            sideBarSelection: newSelection
      });*/
      console.log("newSelection="+newSelection)
      this.CHANGE_SIDEBAR_SELECTION(newSelection)
    },
    // getter
    /*getMenuSelection () {
      return this.$store.getters.getSideBarSelection
    },*/
    focusOutMenu() {
      if(this.toggledMenu)
        this.toggledMenu = true
    },
    logOut() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/')
    },
    /*isUsersSelected () {
      return (this.$store.getters.getSideBarSelection === 'users')
    },
    isChallengesSelected () {
      return (this.$store.getters.getSideBarSelection === 'challenges')
    },
    isRubricsSelected () {
      return (this.$store.getters.getSideBarSelection === 'rubrics')
    },
    isProfileSelected () {
      return (this.$store.getters.getSideBarSelection === 'profile')
    }*/
  }, 
  mounted () {
    /*this.$store.commit({
      type: "changeSideBarSelection",
      sideBarSelection: 'users'
    })*/  
    //console.log(this.$store.getters.firstName);
    /*console.log("getter="+this.$store.getters.getSideBarSelection)
    console.log("seleccion actual="+this.getMenuSelection)
    console.log("es distinto="+(this.$store.getters.getSideBarSelection !== 'users'))
    console.log("es igual="+(this.getMenuSelection === 'users'))*/
  }
};
</script>

