<template>
  <div class="overflow-y-hidden overflow-x-auto flex-grow">
    <!--debug: sort={{currentSort}}, dir={{currentSortDir}}-->
    <!--<user-edit-item-component 
      v-if="editingUser"
      :userItem="this.users[selectedUser-1]"
      @changeEditingUser="editingUser = false"
      @updateEditingUser="updateUserItem"
    >
    </user-edit-item-component>-->
    <template>

      <div class="flex flex-row justify-between h-12"> 
        <!--<button 
          class="flex btn btn-outline btn-accent btn-xs my-auto mr-2"
          @click="newUser"
          >Nou usuari
        </button>-->  
        <router-link 
          :to="{ name: 'useradd'}" 
          class="flex btn btn-outline btn-accent btn-xs my-auto mr-2"
        >
          Nou usuari        
        </router-link>
        <div class="form-control w-1/4 md:w-2/6 mb-2 mt-1">
          <input type="search" v-model="filter" placeholder="Usuari" 
            class="flex-1 p-2 input input-bordered input-sm"
          >          
        </div>  
           
        <!--<div v-if="selectedUser !== null" 
          class="h-4 my-auto p-2 badge badge-outline"
          @click="editarBadge"
        >Editar</div> -->
        <div class="my-auto">
          <button 
          class="btn btn-outline btn-accent btn-xs mr-2"
          @click="editSelectedUser"
          >Editar</button>
        <button 
          class="btn btn-outline btn-accent btn-xs mr-2"
          @click="clearSelectedUser"
          >Borrar selecció</button>
        </div>
        
        <!--<div class="badge badge-primary badge-outline">primary</div> 
        <div class="badge badge-secondary badge-outline">secondary</div> 
        <div class="badge badge-accent badge-outline">accent</div>-->
      </div>
      
      <div class="border-2 w-full border-black"></div> 
      <table class="table table-compact w-full form-control">
        <thead>
          <tr>
            <th @click="sort('id')"
            >
              ID
            </th>
            <th 
              class=""
              :class="{'active' : currentSort === 'username'}" 
              @click="sort('username')">Nom d'usuari</th> 
            <th 
              class=""
              :class="{'active' : currentSort === 'email'}" 
              @click="sort('email')">E-mail</th> 
            <th 
              class=""
              :class="{'active' : currentSort === 'role'}" 
              @click="sort('role')">Rol</th> 
            <th 
              class=""
              :class="{'active' : currentSort === 'status'}" 
              @click="sort('status')">Estat</th> 
          </tr>
        </thead>
        <tbody>
          <useritem-component v-for="user in sortedUsers" 
            :key="user.id" 
            :userItem="user"
            :userid="user.id"
            @click="selectRow(user.id)"
            :class="{'active': (user.id == selectedUser)}"
          ></useritem-component>
          <!--           :isUserEdited="selectedUser"-->
        </tbody>
      
      </table>
      <!-- pagination -->
      <div class="flex justify-center">
        <div class="btn-group">
          <button @click="firstPage" class="btn btn-xs md:btn-sm">Primera</button> 
          <button @click="prevPage" class="btn btn-xs md:btn-sm">«</button> 
          <button v-for="page in pages" 
            :key="page" 
            @click="loadPage(page)" 
            class="btn btn-xs md:btn-sm" 
            :class="{'btn-active' : page === currentPage}">{{ page }}</button>
          <button @click="nextPage" class="btn btn-xs md:btn-sm">»</button>
          <button @click="lastPage" class="btn btn-xs md:btn-sm">Última</button> 
        </div>
      </div>
    </template>
    
  </div>
</template>

<script>
import UserService from "../services/user.service";
import UseritemComponent from '@/components/UserItem'
//import UserEditItemComponent from '@/components/UserEditItem'


export default {
  name: "UsersList",
  components: {
    UseritemComponent,
    //UserEditItemComponent,
  },
  data() {
    return {
      users: [],
      currentSort: 'id',
      currentSortDir: 'asc',
      pageSize: 12,
      currentPage: 1,
      numShown: 5,
      last: -1,
      filter: "",
      selectedUser: 0,
      editingUser: false,
    };
  },
  methods: {
    sort: function(s) {
      //if s == current sort, reverse
      if(s === this.currentSort) {
        this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
      }
      this.currentSort = s;
    },
    nextPage: function() {
      if((this.currentPage*this.pageSize) < this.users.length) this.currentPage++
    },
    prevPage: function() {
      if(this.currentPage > 1) this.currentPage--
    },
    firstPage: function() {
      this.currentPage = 1
    },
    lastPage: function() {
      this.currentPage =  Math.ceil(this.users.length / this.pageSize)
    },
    loadPage:function(n) {
      this.currentPage = n
    },
    isChecked: function(selection) {
      return this.currentSort === selection
    },
    // Fuente: https://stackoverflow.com/questions/56567135/how-do-i-highlight-a-table-row-on-click-in-vuejs
    // Multiple selection: https://www.codeply.com/p/hi40H9aug9
    selectRow(user){
      this.selectedUser = user
        //Do other things
    },
    /*newUser() {
      this.$store.push('useradd')
    },*/
    editSelectedUser() {
      this.editingUser = true

    },
    clearSelectedUser() {
      this.selectedUser = null
    },
    updateUserItem(currentUser) {
      console.log(currentUser)
    }
  },
  watch: {
    filter() {
      //console.log('reset to page 1 due to filter');
      this.currentPage = 1;
    }
  },
  computed: {
    sortedUsers() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.filteredUsers.sort((a, b) => {
      //return this.users.sort((a,b) => {
        let modifier = 1
        if(this.currentSortDir === 'desc') modifier = -1
        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      }).filter((_row, index) => {
        let start = (this.currentPage-1)*this.pageSize
        let end = this.currentPage*this.pageSize
        if(index >= start && index < end) return true
      });
      /*return this.users.sort((a,b) => {
        let modifier = 1
        if(this.currentSortDir === 'desc') modifier = -1
        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      }).filter((index) => {
        let start = (this.currentPage-1)*this.pageSize
        let end = this.currentPage*this.pageSize
        if(index >= start && index < end) return true
      });*/
    },
    pages() {
      // how many pages do we have?
      /*let p = [];
      let totalPages = Math.ceil(this.users.length / this.pageSize)
      //console.log('totalPages',totalPages);
      for(let i=0;i<totalPages;i++) p.push(i+1)
      console.log(p)
      return p;*/
      // Limit pagination: https://stackoverflow.com/questions/65857993/how-to-limit-pagination-buttons-in-vue
      const numShown = Math.min(this.numShown, this.users.length)
      //console.log("numShown 1 = "+numShown)
      let first = this.currentPage - Math.floor(numShown / 2)
      //console.log("first 1 ="+first)
      first = Math.max(first, 1)
      //console.log("first 2 ="+first)
      first = Math.min(first, this.users.length - numShown + 1)
      //console.log("first 3 ="+first)
      let numeros = [...Array(numShown).keys()].map((i) => i + first)
      //let numeros = []
      //for(let i=0;i<numShown;i++) numeros.push(i+1)
      //console.log(numeros)
      return numeros
    },
    // Fuente: https://www.raymondcamden.com/2021/03/11/adding-filtering-to-my-vuejs-table-sorting-and-pagination-demo
    filteredUsers() {
      return this.users.filter(u => {
        if(this.filter == '') return true
        return u.username.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0
      })
    },
  },
  mounted() {

    /*if(this.currentUser['role'].includes('admin'))
      this.$router.push('/admin')
    else if(this.currentUser['role'].includes('teacher'))
      this.$router.push('/teacher')
    else if(this.currentUser['role'].includes('student'))
      this.$router.push('/student')*/
    UserService.getUsersList().then(
      (response) => {
        // Obtenemos el usuario que coincida con el identificador del usuario logado
        //this.content = response.data.users.filter((user) => user.id === this.$store.state.auth.user.id )[0]
        
        this.users = response.data.users
        //this.rows = this.rows.concat(response.data.map(user => user.id))
        //console.log(this.users)
  
        // Cambiar los identificadores por números para hacer la ordenación
        const newUsers = this.users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          return newU
        })
        this.users = newUsers
        //console.log("nuevo")
        //console.log(newUsers)

      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );

    // Establecemos las última página
    this.last =  Math.ceil(this.users.length / this.pageSize)

  },
};
</script>







<!--<template>
  <div class="">
    <userlist-component></userlist-component>
  </div>
  
</template>

<script>
import UserlistComponent from '@/components/UserList'

export default {
  name: "AdminBoard",
  components: {
    UserlistComponent,
  },

  mounted() {
   
  },
}
</script>-->


