<template>

<!-- OOOOOOKKKKKK DaisyUI dropdown menu --->

  <div 
    class="navbar mb-2 bg-gray-50 rounded-box border border-purple-600"
    @click="isActive = !isActive"
  >
    <!--@blur="isActive = false"
    @focusout="isActive = false"-->
    <div 
      v-show="isSelected && isActive" 
      class="flex w-1/6"
    >
      <div class="flex mx-auto font-semibold text-xs font-medium whitespace-nowrap text-gray-800">
        <button 
          class="text-red-600 has-tooltip m-2"
          @click="$emit('deleteSelectedItem', selectedChallengeId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8 capitalize'>
            {{ $t('actions.delete') }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
        <!--<button 
          class="text-green-600 has-tooltip"
          @click.prevent="$emit('editSelectedItem', selectedRubricId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-green-500 -mt-8 capitalize'>
            {{ $t('actions.edit') }} </span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </button>-->
      </div>
    </div>


    <div class="flex-1 px-2 lg:flex-none">
      <div class="flex flex-col">
        <a 
          class="text-lg font-bold"
        >
          {{challengeItem.name}}
        </a>
        <div>
          <span 
            class="flex-none text-xs text-gray-800 capitalize"
            @click.prevent="isActive = !isActive"
          >
            {{ $t('challenges.challenge_id')}}
          </span>
          <span class="flex-none text-xs text-gray-800 font-bold ml-1">
            {{challengeItem.challenge_enroll_id}}
          </span>
        </div>
        
      </div>
      
    </div> 
    <div class="flex justify-end flex-1 px-2">
      <div class="flex items-stretch">
        <div class="dropdown dropdown-end">
          <div 
            tabindex="0" 
            class="btn btn-ghost rounded-btn"
            @click="isActive = !isActive"
          >
            <span class="mr-2">{{ $t('actions.what_to_do') }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">      
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>                    
            </svg>
          </div> 
          <ul tabindex="0" class="p-2 shadow menu compact dropdown-content bg-base-100 rounded-box w-64">
            <li>
              <router-link
                :to="{ name: 'ChallengeEdit', params: {challengeId: selectedChallengeId}}" 
                @click="isActive = !isActive"
                class="flex flex-row text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
                <span class="capitalize">{{ $t('actions.edit') }}</span>
              </router-link>
            </li> 
            <li>
              <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                </svg>
                <span class="capitalize">{{ $t('actions.open_close') }} Sprints</span>
              </a>
            </li> 
            <li>
               <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                </svg>
                <span class="capitalize">{{ $t('actions.assess') }}</span>
              </a>
            </li> 
            <li>
              <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <span class="capitalize">{{ $t('actions.show_results') }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <!--<div
    tabindex="0"
    class="w-full bg-white border border-base-800 rounded-lg"
    >
    
    <div class="flex flex-wrap">
        <div 
          v-show="isSelected && isActive" 
          class="flex w-1/6"
        >
          <div class="flex mx-auto font-semibold text-xs font-medium whitespace-nowrap text-gray-800">
            <button 
              class="text-red-600 has-tooltip m-2"
              @click="$emit('deleteSelectedItem', selectedChallengeId)"
            >
              <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8 capitalize'>
                {{ $t('actions.delete') }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
            <button 
              class="text-green-600 has-tooltip"
              @click.prevent="$emit('editSelectedItem', selectedChallengeId)"
            >
              <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-green-500 -mt-8 capitalize'>
                {{ $t('actions.edit') }} </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </button>
          </div>
        </div> 
        
        <a href="#" class="p-4 inline-block no-underline border-b-2 border-white flex justify-between" 
          :class="[isSelected && isActive ? 'w-5/6 pl-2' : 'w-full']"
          @click.prevent="isActive = !isActive"
        >
            <span class="">{{challengeItem.name}}</span>

            <span class="text-gray-500" 
               v-show="!(isSelected && isActive)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
              </svg>
            </span>
            <span class="text-gray-500"  
              v-show="isSelected && isActive"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
              </svg>
            </span>
        </a>
    </div>
    <div class="p-2" 
      v-show="isSelected && isActive"
    >
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 grid grid-cols-6 gap-1">
          <div class="p-2 col-start-1 col-end-7 text-center text-sm">
            <span class="capitalize font-semibold"> 
              {{ $t('rubrics.description') }}
            </span>: <span class="">{{ this.challengeItem.description }}</span>
          </div>
          <div class="flex flex-col col-start-1 col-end-4 p-1 text-center text-xs">
            <span class="capitalize">
              {{ $t('rubrics.rows') }} : {{ this.challengeItem.rows }}
            </span>
            <span class="capitalize">
              {{ $t('rubrics.cols') }} : {{ this.challengeItem.cols }}
            </span>
          </div>
          <div class="flex flex-col col-start-4 col-end-7 p-1 text-center text-xs">
            <span class="capitalize">
              {{ $t('rubrics.min_val') }} : {{ this.challengeItem.min_value }}
            </span>
            <span class="capitalize">
              {{ $t('rubrics.max_val') }} : {{ this.challengeItem.max_value }}
            </span>
          </div>
          <div class="p-1 text-start text-xs col-start-1 col-end-7 ">
            <span class="capitalize">
              {{ $t('rubrics.t_owner') }}: {{ this.getFullName(parseInt(this.challengeItem.t_owner,10)) }}
            </span>
          </div>


        </div>
        <div class="w-full md:w-1/2 p-2 border border-purple-800 text-start text-xs ">
          <span class="capitalize mb-2">{{ $t('rubrics.criteria') }}:</span>
          <div 
            class=""
            v-for="item in this.challengeItem.data"
            :key="item.criteria"
          >
            - {{ item.criteria }}
          </div>
        </div>
      </div>

    </div>            
  </div>-->


<!--<div class="p-4">
    <div class="group relative">
        <button class="bg-gray-800 text-white px-6 h-10 rounded">Titulo del reto</button>
        <nav tabindex="0" class="border border-2 bg-white invisible border-gray-800 rounded w-60 absolute left-0 top-full transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
            <ul class="py-1">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">
                        Edit
                    </a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">
                        Delete
                    </a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">
                        Reply
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>-->
<!--<div class="antialiased">
    <div class="p-20">
      <div class="group inline-block relative">
        <button
          class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center"
        >
          <span class="mr-1">Dropdown</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </button>
        <ul class="absolute hidden text-gray-700 pt-1 group-hover:block">
          <li class="">
            <a
              class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
              href="#"
              >One</a
            >
          </li>
          <li class="">
            <a
              class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
              href="#"
              >Two</a
            >
          </li>
          <li class="">
            <a
              class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
              href="#"
              >Three is the magic number</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>-->



</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "ChallengeListItem",
  props: {
    challengeItem: null,
    selectedChallengeId: Number,
  },
  data() {
     return {
      userLevels: [],
      levelSelected: '',
      multipleLevelSelected: [],
      hasFocus: false,
      isActive: false,
    }
  },
  computed: {
    ...mapGetters([
    ]),
    
    isSelected() {
      return  this.selectedChallengeId === this.challengeItem.id
    }
  },
  methods: {
   
  },
  mounted() {

    //if(this.challengeItem.t_owner === 1)
      //console.log(this.getAllUsersWithFullName)
   
    //console.log("El pimer usuario es:")
    //console.log(this.getUserWithFullName(1))
    //console.log("teacher_owner:"+this.challengeItem.t_owner)

    //console.log(this.getUserWithFullName(161))

    // Creando el array de niveles de docencia
    let map = []
    let objeto = { text: '', value: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.value = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', value: '' }
    }
    //console.log("El Array/Mapa de niveles de docencia")
    //console.log(map)
    this.userLevels = map

    this.multipleLevelSelected = this.challengeItem.teaching_levels
    //console.log(this.multipleLevelSelected)

    
  },

  
};
</script>