<template>
  <!-- Búsqueda -->
  <div class="flex flex-row">
    <!--<div class="w-3/6 md:w-2/6">
      <div class="relative block w-full">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg
            viewBox="0 0 24 24"
            class="w-4 h-4 text-gray-500 fill-current"
          >
            <path
              d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
            />
          </svg>
        </span>

        <input
          type="search"
          v-model="filter"
          :placeholder="$t('sidebar.search')"
          class="block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded appearance-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
        />
      </div>
    </div>-->
    <div v-if="selectedChallengeId !== 0" class="flex ml-4">
      <button 
        type="button" 
        class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-purple-300 text-white text-sm md:text-base capitalize font-medium hover:bg-white hover:text-gray-800 focus:outline-none" 
        @click="clearSelectedChallenge"
      >
        {{ $t("actions.clear_selection") }}
      </button>
    </div>
    <div v-else class="flex ml-4">
      <button 
        type="button" 
        class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-white text-gray-700 text-sm md:text-base capitalize font-medium hover:bg-purple-300 hover:text-white focus:outline-none" 
        @click="addNewChallenge"
      >
        {{ $t('actions.create') }} {{ $t('challenges.challenge')}}
      </button>
    </div>
  </div>
  <!-- Fin búsqueda -->

  <!-- Tabla -->
  <div class="w-full mt-4 overflow-x-auto">
    <div
      class="min-w-full overflow-hidden rounded-lg shadow"
    >
      <div class="w-full">
        <challenge-list-item v-for="challenge in sortedChallenges" 
          :key="challenge.id" 
          :challengeItem="challenge"
          :selectedChallengeId="selectedChallengeId"
          @click.prevent="selectRow(challenge.id)"
          @delete-selected-item="onDeleteSelectedItem"
          @edit-selected-item="onEditSelectedItem"
          class="mb-3"
          :class="{'bg-purple-50': (challenge.id === selectedChallengeId)}"
        ></challenge-list-item>
      </div>
      
      <!-- Paginación --> 
      <div
        class="flex flex-row justify-center px-1 py-1 bg-white"
      >
        <div class="flex flex-col px-4 py-4 justify-center">
          <div class="flex text-xs rounded">
            <button
              @click="firstPage"
              class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
            ><span>{{ $t('actions.pagination_first') }}</span>
            </button>
            <button
              @click="prevPage"
              class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
              </svg>
            </button>
            <button v-for="page in pages" 
                :key="page" 
                @click="loadPage(page)" 
                class="px-3 py-2 leading-tight border border-r-0 border-gray-200 "
                :class="[page !== currentPage ? 'text-indigo-700 bg-white hover:bg-indigo-500 hover:text-white' : 'bg-indigo-500 text-white hover:bg-white hover:text-indigo-700' ]">{{ page }}</button>
            <button
              @click="nextPage" 
              class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 hover:bg-indigo-500 hover:text-white"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
              </button>
            <button
                @click="lastPage" 
              class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r rounded-l border-gray-200 hover:bg-indigo-500 hover:text-white"
              ><span>{{ $t('actions.pagination_last') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin tabla -->

   <!-- Modal Borrado -->
  <teleport to="body">
    <modal-delete 
      v-if="openDeleteModal"
      v-model:showModal="openDeleteModal"
      :title=" $t('challenges.delete_challenge_title') "
      :text=" $t('challenges.delete_challenge_body') "
      @close-modal="openDeleteModal = false"
      @delete-action="deleteSelectedItem"
    ></modal-delete>
  </teleport>
  <!-- Fin Modal Borrado -->
  
</template>

<script>
import ChallengeService from '@/services/challenge.service'

import ChallengeListItem from '@/components/ChallengeListItem'

import { defineComponent, ref } from 'vue'
import { mapState, mapMutations } from 'vuex'
import ModalDelete from '@/Views/ModalDelete'


export default defineComponent({
  name: "ChallengeList",
  components: {
    ChallengeListItem,
    ModalDelete,
  },

  setup() {
    const currentSort = ref('id')
    const currentSortDir = ref('desc')
    const pageSize = ref(7)
    const currentPage = ref(1)
    const numShown = ref(5)
    const last = ref(-1)
    const filter = ref('')
    const selectedChallengeId = ref(0)
    const isSubmitted = ref(false)
    const isSubmittedWithError = ref(false)
    const message = ref('')
    const errorMessage = ref('')
    const openDeleteModal = ref(false)

    return {
      currentSort,
      currentSortDir,
      pageSize,
      currentPage,
      numShown,
      last,
      filter,
      selectedChallengeId,
      isSubmitted,
      isSubmittedWithError,
      message,
      errorMessage,      
      openDeleteModal,
    };
  },
  async created() {
    
    console.log("getchallengesLoaded:"+this.challengesLoaded)
    if(!this.challengesLoaded) {
      // Add users from Database to VUEX state
      await this.getAllChallenges()
      this.CHANGE_CHALLENGES_LOADED(true)
    }
    console.log("getchallengesLoaded(2):"+this.challengesLoaded)
  },
  computed: {
    ...mapState([
      'challenges',
      'challengesLoaded',
      'searchFilter',
    ]),
    sortedChallenges() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.filteredchallenges.sort((a, b) => {
        let modifier = 1
        if(this.currentSortDir === 'desc') modifier = -1
        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      }).filter((_row, index) => {
        let start = (this.currentPage-1)*this.pageSize
        let end = this.currentPage*this.pageSize
        if(index >= start && index < end) return true
      });

    },
    pages() {
      
      // Limit pagination: https://stackoverflow.com/questions/65857993/how-to-limit-pagination-buttons-in-vue
      const numShown = Math.min(this.numShown, this.challenges.length)
      //console.log("numShown 1 = "+numShown)
      let first = this.currentPage - Math.floor(numShown / 2)
      //console.log("first 1 ="+first)
      first = Math.max(first, 1)
      //console.log("first 2 ="+first)
      first = Math.min(first, this.challenges.length - numShown + 1)
      //console.log("first 3 ="+first)
      let numeros = [...Array(numShown).keys()].map((i) => i + first)
      //let numeros = []
      //for(let i=0;i<numShown;i++) numeros.push(i+1)
      //console.log(numeros)
      return numeros
    },
    // Fuente: https://www.raymondcamden.com/2021/03/11/adding-filtering-to-my-vuejs-table-sorting-and-pagination-demo
    filteredchallenges() {
      return this.challenges.filter(r => {
        if(this.searchFilter == '') return true
        return r.name.toLowerCase().indexOf(this.searchFilter.toLowerCase()) >= 0
      })
    },
  },

  methods: {
    ...mapMutations([
      'CHANGE_SIDEBAR_SELECTION',
      'CHANGE_CHALLENGES_LOADED',
      'ADD_CHALLENGES',
      'DELETE_CHALLENGE',
    ]),

    
    sort: function(s) {
      //if s == current sort, reverse
      if(s === this.currentSort) {
        this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
      }
      this.currentSort = s;
    },
    nextPage: function() {
      if((this.currentPage*this.pageSize) < this.challenges.length) this.currentPage++
    },
    prevPage: function() {
      if(this.currentPage > 1) this.currentPage--
    },
    firstPage: function() {
      this.currentPage = 1
    },
    lastPage: function() {
      this.currentPage =  Math.ceil(this.challenges.length / this.pageSize)
    },
    loadPage:function(n) {
      this.currentPage = n
    },
    isChecked: function(selection) {
      return this.currentSort === selection
    },
    // Fuente: https://stackoverflow.com/questions/56567135/how-do-i-highlight-a-table-row-on-click-in-vuejs
    // Multiple selection: https://www.codeply.com/p/hi40H9aug9
    selectRow(challengeId){
      this.selectedChallengeId = Number(challengeId)
    },
    async getAllChallenges() {

      await ChallengeService.getChallengeList().then(
      (response) => {
        let challenges = response.data.challenges
        console.log(response.data)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newchallenges = challenges.map(function(r) {
          const newR = r
          newR.id = parseInt(r.id, 10)
          if(r.data)
            newR.data = JSON.parse(r.data) // Items de la rúbrica (criteria)
          //if(r.t_available_for)
          //  newR.t_available_for = JSON.parse(r.t_available_for) // Profesores que pueden ver la rúbrica
          if(r.teaching_levels)
            newR.teaching_levels = JSON.parse(r.teaching_levels) // Nieveles en los que se puede ver la rúbrica
          return newR
        })
        //this.challenges = newchallenges
        this.ADD_CHALLENGES(newchallenges)
        console.log("Añadidos los RETOS al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },
    addNewChallenge() {
      this.$router.push({ name: 'ChallengeAdd'})
    },
   
    onEditSelectedItem() {
      //console.log("(EDIT)selectedChallengeId="+this.selectedChallengeId)
      this.$router.push({ name: 'ChallengeEdit', params: { challengeId: this.selectedChallengeId}})
      
    },
    
    clearSelectedChallenge() {
      this.selectedChallengeId = 0
    },
    onDeleteSelectedItem() {
      this.openDeleteModal = true
    },    
    async deleteSelectedItem(){
      this.errorMessage = ''
      this.message = ''
      this.openDeleteModal = false

      await ChallengeService.delete(this.selectedChallengeId).then(
      (response) => {
        this.message = response.data
        // Borrar el ususario de los usuarios del componente
        this.DELETE_CHALLENGE(this.selectedChallengeId)
        this.selectedChallengeId = 0
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      )
    },
  },
  watch: {
    filter() {
      //console.log('reset to page 1 due to filter');
      this.currentPage = 1;
    }
  },
  mounted() {
    // Establecemos las última página
    this.last =  Math.ceil(this.challenges.length / this.pageSize)
    this.CHANGE_SIDEBAR_SELECTION('challenges')  
    console.log("ChallengeList, mounted!!")

    this.currentSort = 'id'
    this.currentSortDir='desc'
    this.sortedChallenges

  },
});
</script>


