<template>
  <div class="min-h-screen md:flex">
    <!-- Loggin form -->
    <div v-if="!loggedIn" class="flex-1">
      <Login />
    </div>
    
    <!-- Content -->
    <!--<router-view v-slot="{ AdminBoard }" ></router-view> -->
    <template v-if="loggedIn">
      <TheSideBar />
      <div v-if="showAdminBoard" class="flex-1 p-4 text-base">
        <!--<router-view name="AdminBoard"></router-view> -->
        <AdminBoard />
      </div>
      <div v-if="showTeacherBoard" class="flex-1 p-4 text-base">
        <TeacherBoard />
      </div>
      <div v-if="showStudentBoard" class="flex-1 p-4 text-base">
        <StudentBoard />
      </div>
    </template>

  </div>
</template>

<script>
//import UserService from "../services/user.service";

import TheSideBar from '../Views/TheSideBar'
import Login from '@/components/Login'
import AdminBoard from '@/components/AdminBoard'
import TeacherBoard from '@/components/TeacherBoard'
import StudentBoard from '@/components/StudentBoard'
import { mapMutations } from 'vuex'


export default {
  name: "Home",
  components: {
    //'NavBar': NavBar,
    'TheSideBar': TheSideBar,
    'Login': Login,
    'AdminBoard': AdminBoard,
    'TeacherBoard': TeacherBoard,
    'StudentBoard': StudentBoard,
  },
  data() {
    return {
      content: "",
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showadminboard="+this.currentUser['role']);
          return this.currentUser['role'].includes('admin');
      }

      return false;
    },
    showTeacherBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showTeacherBoard="+this.currentUser['role']);
        return this.currentUser['role'].includes('teacher');
      }

      return false;
    },
    showStudentBoard() {
      // console.log(JSON.stringify(this.currentUser));
      if (this.loggedIn && this.currentUser && this.currentUser['role']) {
        //console.log("showStudentBoard="+this.currentUser['role']);
        return this.currentUser['role'].includes('student');
      }

      return false;
    },


  },
  methods: {
    ...mapMutations(['CHANGE_SIDEBAR_SELECTION']),
  },
  created() {
    if (!this.loggedIn) {
      this.$router.push("/login");
    }
    // Nav by default Users
  },
  mounted() {
    this.CHANGE_SIDEBAR_SELECTION('users')

    // console.log(this.$store.state.sideBarSelection);
    /*if(this.currentUser['role'].includes('admin'))
      this.$router.push('/admin')
    else if(this.currentUser['role'].includes('teacher'))
      this.$router.push('/teacher')
    else if(this.currentUser['role'].includes('student'))
      this.$router.push('/student')*/
    /*UserService.getPublicContent().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );*/
  },
};
</script>


