<template>
  <div class="text-blueGray-700 ">
    <Form @submit="handleLogin" :validation-schema="schema">
      <div class="container items-center px-5 py-12 lg:px-20">
        <div class="flex flex-col w-full p-10 mx-auto my-6 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:w-2/6 md:w-1/2 md:mt-0">
          <div class="relative mt-4">
            <label for="username"  class="text-base leading-7 text-blueGray-500">{{ $t("users.username")}}</label>
            <Field 
              name="username" 
              type="text" 
              class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
              />
            <ErrorMessage name="username" 
              class="text-base text-red-600" 
              />
          </div>
          <div class="relative mt-4">
            <label for="password"  class="text-base leading-7 text-blueGray-500">{{ $t("users.password")}}</label>
            <Field 
              name="password" 
              type="password" 
              class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blueGray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
              />
            <ErrorMessage name="password" 
              class="text-base text-red-600"  
            />
          </div>
          <div class="inline-flex flex-wrap items-center justify-between ">
            <button class="w-full px-4 py-2 my-2 text-base font-medium text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800"> 
              {{ $t("login.login")}}
            </button>
          </div>
          <div v-if="message" class="text-base text-red-600">
            {{ message }}
          </div>
        </div>
      </div>
    </Form>
  </div>
<!--
<div class="px-4">
    <h1 class="text-xl text-center font-semibold mb-2">
      {{ isLogin ? 'Login' : 'Sign Up' }}
    </h1>
    <input
      type="text"
      placeholder="Email Address"
      @input="emailField.handleChange"
      @blur="emailField.handleBlur"
      :value="emailField.value"
      class="px-4 my-2 min-w-full mx-auto border border-gray-500 rounded-full focus:outline-none focus:ring-1 focus:border-blue-300"
    />
    <p
      class="text-center text-red-500"
      :style="{
        visibility:
          emailField.meta.touched && !emailField.meta.valid
            ? 'visible'
            : 'hidden',
      }"
    >
      {{ emailField.errorMessage || 'Field is Required' }}
    </p>
    <input
      type="password"
      placeholder="Password"
      @input="
        passwordField.handleChange($event), confirmPasswordField.validate()
      "
      @blur="passwordField.handleBlur"
      :value="passwordField.value"
      class="px-4 my-2 min-w-full mx-auto border border-gray-500 rounded-full focus:outline-none focus:ring-1 focus:border-blue-300"
    />
    <p
      class="text-center text-red-500"
      :style="{
        visibility:
          passwordField.meta.touched && !passwordField.meta.valid
            ? 'visible'
            : 'hidden',
      }"
    >
      {{ passwordField.errorMessage || 'Field is Required' }}
    </p>

    <template v-if="!isLogin">
      <input
        type="password"
        placeholder="Confirm Password"
        @input="confirmPasswordField.handleChange"
        @blur="confirmPasswordField.handleBlur"
        :value="confirmPasswordField.value"
        class="px-4 my-2 min-w-full mx-auto border border-gray-500 rounded-full focus:outline-none focus:ring-1 focus:border-blue-300"
      />
      <p
        :style="{
          visibility:
            confirmPasswordField.meta.touched &&
            !confirmPasswordField.meta.valid
              ? 'visible'
              : 'hidden',
        }"
        class="text-center text-red-500"
      >
        {{ confirmPasswordField.errorMessage || 'Field is Required' }}
      </p>
    </template>

    <div class="flex justify-center mt-4">
      <button
        class="btn btn-blue mx-1 flex items-center"
        :disabled="!formMeta.valid"
        @click="submitForm"
      >
        <span>{{ isLogin ? 'Login' : 'Sign Up' }}</span>
        <Loader
          v-if="isSubmitting"
          class="animate-spin stroke-current text-white ml-2"
          :height="16"
        />
      </button>
    </div>
  </div>
-->
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "Login",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  /*
  setup() {

    if (this.loggedIn) {
      this.$router.push("/profile");
    }

    const schema = yup.object().shape({
      username: yup.string().required("L'usuari és necessari!").label("Email Address"),
      password: yup.string().min(8).required("La contrasenya és necessària!").label("Your Password"),
    });

    

    function onSubmit(values) {
      //alert(JSON.stringify(values, null, 2));
      this.loading = true;

      this.$store.dispatch("auth/login", user).then(
        () => {
          this.$router.push("/profile");
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    }

    return {
      schema,
      onSubmit,
      loading,
    };
  },
  */
  data() {
    const schema = yup.object().shape({
      username: yup.string().required(this.$t("login.username")),
      password: yup.string().required(this.$t("login.password")),
    });

    return {
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      //this.$router.push("/");
      this.$router.push({ name: 'Dashboard'});
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;

      this.$store.dispatch("auth/login", user).then(
        () => {
          //this.$router.push("/");
          this.$router.push({ name: 'Dashboard'});
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
  
 
};
</script>

<style scoped>
</style>
