<template>
  <div class="">
  </div>
</template>

<script>


export default {
  name: "Logout",
  created() {
    if (!this.loggedIn) {
      //this.$router.push("/login");
      this.$router.push({ name: 'Login'});

    }
  },
  mounted() {
    this.$store.dispatch('auth/logout');
    //this.$router.push('/login');
    this.$router.push({ name: 'Login'});
    //this.$router.push({ name: 'Dashboard'});

  },
};
</script>


