<template>
  <div>      
    <!-- Check logged in -->
    <div v-if="!loggedIn" class="flex-1">
      <Login />
    </div>
    <div v-else >
      <!--<sidebar-component></sidebar-component>-->
      <div class="relative flex flex-col min-h-screen py-28 md:py-4 bg-blueGray-100">
        <!-- Content -->
        <div class="overflow-x-auto flex-grow">
          <!--<table class="table w-full table-compact">
            <thead>
              <tr>
                <th></th>
                <th>Nom d'usuari</th> 
                <th>E-mail</th> 
                <th>Rol</th> 
                <th>Estat</th> 
              </tr>
            </thead> 
            <useritem-component></useritem-component>
          </table>-->
          <user-list-item 
            :userItem="this.userItem"
          ></user-list-item>
        </div>
        <!-- Footer -->
        <footer-component></footer-component>
      </div>
    </div>
   
  </div>
</template>

<script>
//import SidebarComponent from '@/Views/Sidebar'
import FooterComponent from '@/Views/Footer'
import Login from '@/components/Login'
//import UseritemComponent from '@/components/UserItem'
import UserListItem from '@/components/UserListItem'
import { mapMutations } from 'vuex'


export default {
  name: "profile",
  components: {
    //SidebarComponent,
    Login,
    FooterComponent,
    UserListItem,
  },
  data() {
    return {
      date: new Date().getFullYear(),
      userItem: this.$store.state.auth.user,
    }
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn
    },
     currentUser() {
      return this.$store.state.auth.user
    },
  },
  methods: {
    ...mapMutations(['CHANGE_SIDEBAR_SELECTION']),
  },
  created() {
    if (!this.loggedIn) {
      this.$router.push("/login")
    }
    // Nav by default Users
  },
  mounted() {
    this.CHANGE_SIDEBAR_SELECTION('profile')
  }
};
</script>
