<template>
  <div class="container">
    <section class="text-blue-700 ">
      <Form @submit="handleRegister" :validation-schema="schema">
        <div v-if="!successful">
          <div class="container items-center px-5 py-12 lg:px-20">
            <div class="flex flex-col w-full p-10 mx-auto my-6 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:w-2/6 md:w-1/2 md:mt-0">
              <div class="relative ">
                <label for="username"  class="text-base leading-7 text-blue-500">Usuari</label>
                <Field name="username" type="text" 
                  class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blue-100 focus:border-blue-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
                />
                <ErrorMessage name="username" 
                  class="text-base text-red-600"  
                />
              </div>
              <div class="relative mt-4">
                <label for="email"  class="text-base leading-7 text-blue-500">Correu electrònic</label>
                <Field name="email" type="email" 
                  class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blue-100 focus:border-blue-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
                />
                <ErrorMessage name="email" 
                  class="text-base text-red-600"  
                />
              </div>
              <div class="relative mt-4">
                <label for="password"  class="text-base leading-7 text-blue-500">Contrasenya</label>
                <Field 
                  name="password" 
                  type="password" 
                  class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blue-100 focus:border-blue-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
                />
                <ErrorMessage name="password" 
                  class="text-base text-red-600"  
                />
              </div>
              <div class="relative mt-4 flex flex-col">
                <label class="flex flex-wrap text-base leading-7 text-blue-500">Rol</label>

                <div class="w-full inline-flex self-center">
                  <svg class="text-white bg-blue-700 absolute top-7 right-0 m-2 pointer-events-none p-2 rounded" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 38 22" version="1.1">
                      <g id="ZahnhelferDE—Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="ZahnhelferDE–Icon&amp;Asset-Download" transform="translate(-539.000000, -199.000000)" fill="#ffffff" fill-rule="nonzero">
                              <g id="Icon-/-ArrowRight-Copy-2" transform="translate(538.000000, 183.521208)">
                                  <polygon id="Path-Copy" transform="translate(20.000000, 18.384776) rotate(135.000000) translate(-20.000000, -18.384776) " points="33 5.38477631 33 31.3847763 29 31.3847763 28.999 9.38379168 7 9.38477631 7 5.38477631"/>
                              </g>
                          </g>
                      </g>
                  </svg>
                  <select class="text-base font-semibold rounded border-2 border-purple-700 text-gray-600 h-14 flex-1 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                      <option>Teacher</option>
                      <option>Student</option>
                      <option>Admin</option>
                  </select>
                </div>
              </div>
              
              <!-- 
              <div class="relative mt-4">
                <label for="role"  class="text-base leading-7 text-blue-500">Rol</label>
                <Field 
                  name="role" 
                  type="" 
                  class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-blue-100 focus:border-blue-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
                />
                <ErrorMessage name="password" 
                  class="text-2xl text-red-600 border-2 border-red-500"  
                />
                
              </div>-->
              <div class="inline-flex flex-wrap items-center justify-between ">
                <button class="w-full px-4 py-2 my-2 text-base font-medium text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800"> Registrar </button>
              </div>
              <div
                v-if="message"
                class="mx-auto text-2xl"
                :class="successful ? 'text-2xl text-blue-500 border-2 border-blue-400' : 'text-2xl text-red-600 border-2 border-red-500'"
              >
                {{ message }}
              </div>
            </div>
          </div>
        </div>
      </Form>
    </section>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "Register",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      username: yup
        .string()
        .required("El nom d'usuari és necessari!")
        .min(3, "Ha de tindre al menys 3 caràcters!")
        .max(20, "Ha de tindre màxim 20 caràcters!"),
      email: yup
        .string()
        .required("El correu electrònic és necessari!")
        .email("Correu electrònic invàlid!")
        .max(50, "Ha de tindre màxim 50 caràcters!"),
      password: yup
        .string()
        .required("La contrasenya és necessària!")
        .min(6, "Ha de tindre al menys 6 caràcters!")
        .max(40, "Ha de tindre màxim 40 caràcters!"),
    });

    return {
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleRegister(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;

      this.$store.dispatch("auth/register", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
        },
        (error) => {
          if(error.response.data.username 
            || error.response.data.password 
            || error.response.data.email) {
              this.message = error.response.data.username 
            || error.response.data.password 
            || error.response.data.email;
          } else
            this.message =
              (error.response &&
                error.response.data &&
                error.response.data.message) ||
              error.message ||
              error.toString();
          
          this.successful = false;
          this.loading = false;
          console.log("error.message="+error.message);
          console.log("error.response="+error.response.data.username);
        }
      );
    },
  },
};
</script>

<style scoped>
</style>
