<template>
  <div
    tabindex="0"
    class="w-full bg-white border border-base-800 rounded-lg"
    >
    
    <div class="flex flex-wrap">
        <div 
          v-show="isSelected && isActive" 
          class="flex w-1/6"
        >
          <div class="flex mx-auto font-semibold text-xs font-medium whitespace-nowrap text-gray-800">
            <button 
              class="text-red-600 has-tooltip m-2"
              @click="$emit('deleteSelectedItem', selectedRubricId)"
            >
              <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8 capitalize'>
                {{ $t('actions.delete') }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
            <button 
              class="text-green-600 has-tooltip"
              @click.prevent="$emit('editSelectedItem', selectedRubricId)"
            >
              <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-green-500 -mt-8 capitalize'>
                {{ $t('actions.edit') }} </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </button>
          </div>
        </div> 
        
        <a href="#" class="p-4 inline-block no-underline border-b-2 border-white flex justify-between" 
          :class="[isSelected && isActive ? 'w-5/6 pl-2' : 'w-full']"
          @click.prevent="isActive = !isActive"
        >
        <!--           @blur="isActive = false" -->
            <span class="">{{rubricItem.name}}</span>

            <span class="text-gray-500" 
               v-show="!(isSelected && isActive)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
              </svg>
            </span>
            <span class="text-gray-500"  
              v-show="isSelected && isActive"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
              </svg>
            </span>
        </a>
    </div>
    <div class="p-2" 
      v-show="isSelected && isActive"
    >
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 grid grid-cols-6 gap-1">
          <div class="p-2 col-start-1 col-end-7 text-center text-sm">
            <span class="capitalize font-semibold"> 
              {{ $t('rubrics.description') }}
            </span>: <span class="">{{ this.rubricItem.description }}</span>
          </div>
          <div class="flex flex-col col-start-1 col-end-4 p-1 text-center text-xs">
            <span class="capitalize">
              {{ $t('rubrics.rows') }} : {{ this.rubricItem.rows }}
            </span>
            <span class="capitalize">
              {{ $t('rubrics.cols') }} : {{ this.rubricItem.cols }}
            </span>
          </div>
          <div class="flex flex-col col-start-4 col-end-7 p-1 text-center text-xs">
            <span class="capitalize">
              {{ $t('rubrics.min_val') }} : {{ this.rubricItem.min_value }}
            </span>
            <span class="capitalize">
              {{ $t('rubrics.max_val') }} : {{ this.rubricItem.max_value }}
            </span>
          </div>
          <div class="p-1 text-start text-xs col-start-1 col-end-7 ">
            <span class="capitalize">
              {{ $t('rubrics.t_owner') }}: {{ this.getFullName(parseInt(this.rubricItem.t_owner,10)) }}
            </span>
          </div>


        </div>
        <div class="w-full md:w-1/2 p-2 border border-purple-800 text-start text-xs ">
          <span class="capitalize mb-2">{{ $t('rubrics.criteria') }}:</span>
          <div 
            class=""
            v-for="item in this.rubricItem.data"
            :key="item.criteria"
          >
            - {{ item.criteria }}
          </div>
        </div>
      </div>

    </div>            
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "RubricListItem",
  props: {
    rubricItem: null,
    selectedRubricId: Number,
  },
  data() {
     return {
      userLevels: [],
      levelSelected: '',
      multipleLevelSelected: [],
      hasFocus: false,
      isActive: false,
    }
  },
  computed: {
    ...mapGetters([
      'getUserWithFullName',
      'getAllUsersWithFullName',
      'getFullName',
    ]),
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    isSelected() {
      return  this.selectedRubricId === this.rubricItem.id
    }
  },
  methods: {
   
  },
  mounted() {

    //if(this.rubricItem.t_owner === 1)
      //console.log(this.getAllUsersWithFullName)
   
    //console.log("El pimer usuario es:")
    //console.log(this.getUserWithFullName(1))
    //console.log("teacher_owner:"+this.rubricItem.t_owner)

    //console.log(this.getUserWithFullName(161))

    // Creando el array de niveles de docencia
    let map = []
    let objeto = { text: '', value: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.value = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', value: '' }
    }
    //console.log("El Array/Mapa de niveles de docencia")
    //console.log(map)
    this.userLevels = map

    this.multipleLevelSelected = this.rubricItem.teaching_levels
    //console.log(this.multipleLevelSelected)

    
  },

  
};
</script>