<template>
  <VeeForm v-slot="{ handleSubmit  }" :validation-schema="schema" as="div">
    <form @submit="handleSubmit($event, saveItem)"  class="shadow-lg"> 

      <div class="p-6 bg-white rounded-md shadow-md">
        <h2 class="text-lg font-semibold text-gray-700 capitalize">
          {{ $t('actions.edit')}} {{ $t('rubrics.rubric')}}
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-base">
          <div class="w-full flex flex-col">
            <label>
              <span class="capitalize">{{ $t("rubrics.name") }}</span>
            </label> 
            <Field 
              name="name" 
              id="name"
              type="text" 
              autocomplete="name"
              v-model="rubric.name"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="name" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span class="capitalize">{{ $t("rubrics.description") }}</span>
            </label> 
            <Field 
              name="description" 
              id="description"
              type="text" 
              autocomplete="description"
              v-model="rubric.description"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="description" 
              class="text-base text-red-600"  
            />  
          </div>
          
          <!-- Profesores -->
          <div class="w-full flex flex-col">
            <label>
              <span></span> 
            </label> 
            <Multiselect
              v-model="multipleTeacherSelected"
              :options="rubricTeachers"
              mode="tags"
              label="fullname"
              valueProp="id"
              :searchable="true"
              trackBy="fullname"
              :createTag="false"
              :placeholder="$t('rubrics.t_available_for')"
              openDirection="bottom"
              class=""
              :classes="{
                container: 'relative mx-auto w-full mt-0 flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                containerDisabled: 'cursor-default bg-gray-100',
                containerOpen: 'rounded-b-none',
                containerOpenTop: 'rounded-t-none',
                singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                tagDisabled: 'pr-2 !bg-gray-400 text-white',
                tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                caretOpen: 'rotate-180 pointer-events-auto',
                clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                dropdownHidden: 'hidden',
                options: 'flex flex-col p-0 m-0 list-none',
                optionsTop: 'flex-col-reverse',
                option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                optionPointed: 'text-gray-800 bg-gray-100',
                optionSelected: 'text-white bg-purple-500',
                optionDisabled: 'text-gray-300 cursor-not-allowed',
                optionSelectedPointed: 'text-white bg-purple-500 opacity-90',
                optionSelectedDisabled: 'text-green-100 bg-purple-500 bg-opacity-50 cursor-not-allowed',
                noOptions: 'py-2 px-3 text-gray-600 bg-white',
                noResults: 'py-2 px-3 text-gray-600 bg-white',
                fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                spacer: 'h-9 py-px box-content',
                }"
            />  
          </div>

          <!-- Cursos en los que se puede aplicar la rúbrica -->
          <div class="w-full flex flex-col">
            <label>
              <span></span> 
            </label> 
            <Multiselect
              v-model="multipleLevelSelected"
              :options="rubricLevels"
              mode="tags"
              label="text"
              valueProp="code"
              :searchable="true"
              trackBy="text"
              :createTag="false"
              :placeholder="$t('rubrics.teaching_levels')"
              openDirection="bottom"
              class=""
              :classes="{
                container: 'relative mx-auto w-full mt-0 flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                containerDisabled: 'cursor-default bg-gray-100',
                containerOpen: 'rounded-b-none',
                containerOpenTop: 'rounded-t-none',
                singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                tagDisabled: 'pr-2 !bg-gray-400 text-white',
                tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                caretOpen: 'rotate-180 pointer-events-auto',
                clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                dropdownHidden: 'hidden',
                options: 'flex flex-col p-0 m-0 list-none',
                optionsTop: 'flex-col-reverse',
                option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                optionPointed: 'text-gray-800 bg-gray-100',
                optionSelected: 'text-white bg-purple-500',
                optionDisabled: 'text-gray-300 cursor-not-allowed',
                optionSelectedPointed: 'text-white bg-purple-500 opacity-90',
                optionSelectedDisabled: 'text-green-100 bg-purple-500 bg-opacity-50 cursor-not-allowed',
                noOptions: 'py-2 px-3 text-gray-600 bg-white',
                noResults: 'py-2 px-3 text-gray-600 bg-white',
                fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                spacer: 'h-9 py-px box-content',
                }"
            />  
          </div>
        </div> <!-- Fin GRID -->

        
        <hr class="border-1 mt-4">

        <div class="w-full flex flex-col md:flex-row">

          <div class="w-full flex mt-10 items-center">
            <div class="flex-1 w-2/12 h-auto text-start text-base capitalize"> {{ $t('rubrics.rows') }} </div>
            <div class="flex-shrink w-10/12">
              <Slider 
                v-model="rubric.rows"
                :min="1"
                :max="20"
                :step="1"
                orientation="horizontal"
                @update="updateDescriptions"
                class=""

                :classes="{
                  target: 'relative box-border user-select-none touch-none tap-highlight-transparent touch-callout-none disabled:cursor-not-allowed',
                  focused: 'slider-focused',
                  tooltipFocus: 'slider-tooltip-focus',
                  tooltipDrag: 'slider-tooltip-drag',
                  ltr: 'slider-ltr',
                  rtl: 'slider-rtl',
                  horizontal: 'slider-horizontal h-1.5',
                  vertical: 'slider-vertical w-1.5 h-80',
                  textDirectionRtl: 'slider-txt-rtl',
                  textDirectionLtr: 'slider-txt-ltr',
                  base: 'w-full h-full relative z-1 bg-gray-300 rounded',
                  connects: 'w-full h-full relative overflow-hidden z-0 rounded',
                  connect: 'absolute z-1 top-0 right-0 transform-origin-0 transform-style-flat h-full w-full bg-purple-500 cursor-pointer tap:duration-300 tap:transition-transform disabled:bg-gray-400 disabled:cursor-not-allowed',
                  origin: 'slider-origin absolute z-1 top-0 right-0 transform-origin-0 transform-style-flat h-1/10 w-1/10 h:h-0 txt-rtl-h:left-0 txt-rtl-h:right-auto v:w-0 tap:duration-300 tap:transition-transform',
                  handle: 'absolute rounded-full bg-white border-0 shadow-slider cursor-grab focus:outline-none h:w-4 h:h-4 h:-top-1.5 h:-right-2 txt-rtl-h:-left-2 txt-rtl-h:right-auto v:w-4 v:h-4 v:-top-2 v:-right-1.25 disabled:cursor-not-allowed focus:ring focus:ring-purple-500 focus:ring-opacity-30',
                  touchArea: 'h-full w-full',
                  tooltip: 'absolute block text-sm font-semibold whitespace-nowrap py-1 px-1.5 min-w-5 text-center text-white rounded border border-purple-500 bg-purple-500 transform h:-translate-x-1/2 h:left-1/2 h:bottom-6 h:arrow-bottom v:-translate-y-1/2 v:top-1/2 v:right-6 v:arrow-right disabled:bg-gray-400 disabled:border-gray-400 merge-h:translate-x-1/2 merge-h:left-auto merge-h:bottom-3.5 merge-v:-translate-x-4 merge-v:top-auto merge-v:right-1 tt-focus:hidden tt-focused:block tt-drag:hidden tt-dragging:block',
                  tooltipHidden: 'slider-tooltip-hidden',
                  active: 'slider-active shadow-slider-active cursor-grabbing',
                  draggable: 'cursor-ew-resize v:cursor-ns-resize',
                  tap: 'slider-state-tap',
                  drag: 'slider-state-drag',
                }" 
              />
            </div>
          </div>


          <div class="w-full flex mt-10 md:ml-4 items-center">
            <div class="flex-1 w-2/12 h-auto text-start text-base capitalize"> {{ $t('rubrics.cols') }} </div>
            <div class="flex-shrink w-9/12">
              <Slider 
                v-model="rubric.cols"
                :min="3"
                :max="6"
                :step="1"
                orientation="horizontal"
                @update="updateDescriptions"
                class=""

                :classes="{
                  target: 'relative box-border user-select-none touch-none tap-highlight-transparent touch-callout-none disabled:cursor-not-allowed',
                  focused: 'slider-focused',
                  tooltipFocus: 'slider-tooltip-focus',
                  tooltipDrag: 'slider-tooltip-drag',
                  ltr: 'slider-ltr',
                  rtl: 'slider-rtl',
                  horizontal: 'slider-horizontal h-1.5',
                  vertical: 'slider-vertical w-1.5 h-80',
                  textDirectionRtl: 'slider-txt-rtl',
                  textDirectionLtr: 'slider-txt-ltr',
                  base: 'w-full h-full relative z-1 bg-gray-300 rounded',
                  connects: 'w-full h-full relative overflow-hidden z-0 rounded',
                  connect: 'absolute z-1 top-0 right-0 transform-origin-0 transform-style-flat h-full w-full bg-purple-500 cursor-pointer tap:duration-300 tap:transition-transform disabled:bg-gray-400 disabled:cursor-not-allowed',
                  origin: 'slider-origin absolute z-1 top-0 right-0 transform-origin-0 transform-style-flat h-1/10 w-1/10 h:h-0 txt-rtl-h:left-0 txt-rtl-h:right-auto v:w-0 tap:duration-300 tap:transition-transform',
                  handle: 'absolute rounded-full bg-white border-0 shadow-slider cursor-grab focus:outline-none h:w-4 h:h-4 h:-top-1.5 h:-right-2 txt-rtl-h:-left-2 txt-rtl-h:right-auto v:w-4 v:h-4 v:-top-2 v:-right-1.25 disabled:cursor-not-allowed focus:ring focus:ring-purple-500 focus:ring-opacity-30',
                  touchArea: 'h-full w-full',
                  tooltip: 'absolute block text-sm font-semibold whitespace-nowrap py-1 px-1.5 min-w-5 text-center text-white rounded border border-purple-500 bg-purple-500 transform h:-translate-x-1/2 h:left-1/2 h:bottom-6 h:arrow-bottom v:-translate-y-1/2 v:top-1/2 v:right-6 v:arrow-right disabled:bg-gray-400 disabled:border-gray-400 merge-h:translate-x-1/2 merge-h:left-auto merge-h:bottom-3.5 merge-v:-translate-x-4 merge-v:top-auto merge-v:right-1 tt-focus:hidden tt-focused:block tt-drag:hidden tt-dragging:block',
                  tooltipHidden: 'slider-tooltip-hidden',
                  active: 'slider-active shadow-slider-active cursor-grabbing',
                  draggable: 'cursor-ew-resize v:cursor-ns-resize',
                  tap: 'slider-state-tap',
                  drag: 'slider-state-drag',
                }" 
              />
            </div>
          </div>
        </div>

        
        <!-- Puntuación de la tabla de rúbricas -->
        <div class="min-w-full flex flex-col md:mt-8">
          <div class="w-full flex flex-col md:flex-row">
            <div class="flex flex-row md:w-3/12 items-center justify-between invisible md:visible">
              <span class="flex text-purple-600 py-1 px-2 border-2 border-purple-800 rounded-md uppercase">{{ 
                criteriaValues.reduce((a, b) => parseFloat(a) + parseFloat(b), 0).toFixed(2)
                }}     </span>
              <span class="flex text-purple-600 py-1 px-2 uppercase">{{ $t('rubrics.criteria_name') }}</span>
            </div>
            <div 
              class="flex flex-row w-full">
              <div 
                v-for="(col, index) in Number(rubric.cols)" :key="index"
                class="flex flex-row w-1/2 md:w-1/3 items-center justify-center"
              >
                <span class="text-gray-100 bg-purple-600 py-1 px-2 border rounded-md">{{ index }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Tabla para rúbricas -->
        <div class="min-w-full flex flex-col mt-1">
          <div v-for="(row, i1) in Number(rubric.rows)" :key="i1"
            class="w-full flex flex-col md:flex-row">

            <div class="flex flex-row w-full md:w-3/12">
              <input 
                name="criteriaValue" 
                type="number"
                step="0.01"
                :placeholder="(100/rubric.rows).toFixed(2)"
                v-model="criteriaValues[i1]"
                @focus="isCriteriaValueCorrect"
                @keyup="isCriteriaValueCorrect"
                @click="isCriteriaValueCorrect"
                class="flex w-14 md:w-16 h-10 my-auto p-1 text-right border border-purple-600 rounded-md"
              /><span class="flex my-auto">%</span>
              <textarea
                rows="2"
                v-model="criteria[i1]"
                @input="resizeTA($event)"
                :placeholder="`Criteri `+(i1+1).toString()"
                class="flex w-full ml-2 border border-purple-600 box-border rounded-md text-center overscroll-none"
              />
            </div>
        
            <div 
              class="flex flex-row w-full md:w-10/12">
              <textarea 
                v-for="(col, i2) in Number(rubric.cols)" :key="i2"
                rows="4" 
                placeholder=""
                @input="resizeTA($event)" 
                v-model="descriptions[i1][i2]"
                class="flex flex-row w-1/2 md:w-1/3 border border-gray-200 box-border rounded-md text-center overscroll-none"
              />
            </div>
          </div>  
        </div>

        <div v-if="!isCriteriaValueCorrect()" class="mt-2 alert alert-error">
          <div class="flex-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">    
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>                      
            </svg> 
            <label>{{ messageCriteria }}</label>
          </div>    
        </div>
      </div>

      <div class="flex justify-center space-x-10 mt-4">
        <button 
          class="h-10 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700 capitalize"
          :disabled="isFormInvalid()"
          :class="{ 'opacity-25 cursor-not-allowed cursorpointer-none': isFormInvalid() }"
        >
          {{ $t('actions.save')}}
        </button>
        <button 
          type="button" 
          @click="cancelRubric" 
          class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800 capitalize">                  
          {{ $t('actions.cancel')}}
        </button>
      </div>
    </form>
  </VeeForm>

  <!-- Modal isSavedSuccessfully -->
  <teleport to="body">
    <modal-info 
      v-if="isSavedSuccessfully"
      v-model:showModal="isSavedSuccessfully"
      :title=" $t('rubrics.edit') "
      :text=" $t('rubrics.updated_successful') "
      @close-modal="savedSuccesful"
    ></modal-info>
  </teleport>

</template>

<script>
import RubricService from '@/services/rubric.service'
import UserService from '@/services/user.service'

import { mapGetters, mapMutations } from 'vuex'

import { Form as VeeForm, Field, ErrorMessage } from "vee-validate"
import * as yup from "yup"
import Slider from '@vueform/slider'
import Multiselect from '@vueform/multiselect'
import ModalInfo from '@/Views/ModalInfo'


export default {
  name: "RubricEdit",
  components: {
    VeeForm,
    Field,
    ErrorMessage,
    Slider,
    Multiselect,
    ModalInfo,
  },
  props:{
    rubricId: {
      type: String,
      required: true,
    }
  },
  data() {
    
    const schema = yup.object().shape({
      name: yup
        .string()
        .required(this.$t('rubrics.create_error_required'))
        .min(8, this.$t('rubrics.create_error_min')),
      description: yup
        .string()
        .max(250, this.$t('rubrics.create_error_max')),      
    })
    

    return {
      //rubric: {...this.rubricItem},
      rubric: null,
      submitted: false,
      submitted_error: false,
      schema,
      rubricTeachers: [],
      teacherSelected: '',
      //multipleTeacherSelected: [...this.rubricItem.t_available_for],
      multipleTeacherSelected: [],
      rubricLevels: [],
      levelSelected: '',
      //multipleLevelSelected: [...this.rubricItem.teaching_levels],
      multipleLevelSelected: [],
      criteria: [],
      //criteriaValues: [],
      //criteria: [...this.rubricItem.data.criteria],
      criteriaValues: [],
      messageCriteria: '',
      descriptions: [[]],
      isSavedSuccessfully: false
      
    }

  },
  computed: {
    ...mapGetters([
      'getAllTeachers',
      'getRubricById',
      'getUsersCount',
      'getUsersLoaded',
    ]),
    
  },
  async created() {

    this.rubric = { ...this.getRubricById(this.rubricId)}
    //console.log("RubricEdit: rubric:")
    //console.log(this.rubric)
    
    // Creando el array de niveles de docencia.
    let map = []
    let  objeto = { text: '', code: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.code = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', code: '' }
    }
    //console.log(map)
    this.rubricLevels = map

    // Inicializar los arrays de la rúbrica
    //this.criteriaValues = Array(this.rubric.rows)
    this.descriptions = Array(this.rubric.rows)
    for(let i=0; i< this.rubric.rows; i++) {
      this.descriptions[i] = Array(this.rubric.cols)
      //this.criteriaValues[i] = this.rubric.data[i].value
    }

    if(!this.getUsersLoaded()) {
      // Add users from Database to VUEX state
      await this.getAllUsers()
      this.CHANGE_USERS_LOADED(true)
    }

    // Obtenemos todos los profesores
    this.rubricTeachers = this.getAllTeachers()

    // Ponemos los profesores que pueden ver la rúbrica
    this.multipleTeacherSelected = this.rubric.t_available_for

    // Ponemos los niveles a los que está asignada la rúbrica
    this.multipleLevelSelected = this.rubric.teaching_levels

    // Ponemos los datos (criteria + descriptions)
    this.updateDescriptions()

    for (let i=0; i<this.rubric.rows; i++){
      this.criteria[i] = this.rubric.data[i].criteria
      this.criteriaValues[i] = this.rubric.data[i].value

      for(let j=0; j<this.rubric.cols; j++) {
        this.descriptions[i][j] = this.rubric.data[i].descriptions[j]
      }
    }

  },

  methods: {
    ...mapMutations([
      'CHANGE_USERS_LOADED',
      'UPDATE_RUBRIC',
      'ADD_USERS',
    ]),
   
    async saveItem() {

      this.errorMessage = ''
      this.submitted = true
      this.submitted_error = false

       // Añadimos los nieveles de docencia
      this.rubric.teaching_levels = this.multipleLevelSelected
      // Añadimos los profesores que pueden acceder a ella
      this.rubric.t_available_for = this.multipleTeacherSelected
      // Añadimos el usuario creador
      //this.rubric.t_owner = this.$store.state.auth.user.user.id

      // Preparamso los datos (criteria + descriptions)
      let aux = {}
      for (let i=0; i<this.criteria.length; i++){
        let desc = []
        for(let j=0; j<this.descriptions[i].length; j++) {
          desc[j] = this.descriptions[i][j]
        }
        aux[i] = {criteria: this.criteria[i], value: this.criteriaValues[i], descriptions: desc}
      }
      this.rubric.data = aux
      //console.log("rubrc_data=")
      //console.log(this.rubric.data)
      //console.log(this.rubric)
      //this.$emit('saveEdit', this.rubric)

      // Actualizamos las modificaciones en la BBDD
      await RubricService.update(this.rubric.id,this.rubric).then(
      (response) => {
        let estado = response.status
        this.errorMessage = ''
        this.message = ''
        
        if(estado === 200) {
          //console.log("Status 200")
          //console.log(response)
          //console.log("savedRubric:")
          //console.log(savedRubric)
          this.message = this.$t('rubrics.updated_successful')
          // Forzamos la carga de usuarios para mostrar los cambios
          this.selectedRubricId = 0
          this.isSavedSuccessfully = true

          // Actualizamos el usuario en el modelo de VUE
          this.UPDATE_RUBRIC(this.rubric)
        }
        else {
          this.errorMessage = response.data
          console.log("se ha enviado, pero ha fallado:")
          console.log(this.errorMessage);
        }
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString(); 
          
          console.log("ERRROR")
          console.log(this.errorMessage)
        }
      )
    },
    savedSuccesful() {
      this.isSavedSuccessfully = false // Ocultamos el modal
      this.$router.push({ name: 'Rubrics'})
      //this.$router.push({ name: 'Dashboard', params: { newUserId: this.user.id }})
    },
    cancelRubric() {
      this.$router.go('-1')
    },
  

    updateDescriptions() {
      this.criteriaValues = Array(this.rubric.rows)
      this.criteria = Array(this.rubric.rows)
      this.descriptions = Array(this.rubric.rows)

      for(let i=0; i < this.rubric.rows; i++) {
        this.descriptions[i] = Array()
        this.criteriaValues[i] = 100/this.rubric.rows
      }
    },

    // Check criteria sum values
    isCriteriaValueCorrect() {
      if(this.criteriaValues.length < this.rubric.rows) {
        this.messageCriteria = ''
        return true
      }
      else {
        //if( this.criteriaValues.reduce((a, b) => Number(a) + Number(b), 0) !== 100) {
        if ( this.criteriaValues.reduce((a, b) => parseFloat(a) + parseFloat(b), 0).toFixed(2) !== parseFloat("100.00").toFixed(2) ) {
          this.messageCriteria = this.$t('rubrics.criteria_error_100')
          return false
        }
        else {
          this.messageCriteria = ''
          return true
        }
      }
    },
    isFormInvalid() {
      if (this.multipleLevelSelected.length === 0)
        return true
      if (this.multipleTeacherSelected.length === 0)
        return true
      if(!this.isCriteriaValueCorrect())
        return true

      return false
    },
   
    // https://www.youtube.com/watch?v=HDiPOkFIP60
    resizeTA(e) {
      e.target.style.height = 'auto'
      e.target.style.height = `${e.target.scrollHeight}px`
    },
    async getAllUsers() {

      // Añadimos los usuarios de la respueta de la API
      await UserService.getUsersList().then(
      (response) => {
        let users = response.data.users
        //console.log(users)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newUsers = users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          if(u.teaching_levels)
            newU.teaching_levels = JSON.parse(u.teaching_levels)  
            
          return newU
        })
        users = newUsers
        
        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        this.ADD_USERS(users)
        //console.log("Añadidos los usuarios al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );
      
    },
    
  },
  
  mounted() {
  
  },
};
</script>
