<template>
  <div class="">
    <h3>{{ content }}</h3>
  </div>
</template>

<script>
//import UserService from "../services/user.service";

export default {
  name: "StudentBoard",
  data() {
    return {
      content: "",
    };
  },
  mounted() {
    this.content = "Student Board"
    /*UserService.getStudentBoard().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );*/
  },
};
</script>