<template>
  <div class="">
    <h3>{{ content }}</h3>
  </div>
</template>

<script>
// import UserService from "../services/user.service";

export default {
  name: "TeacherBoard",
  data() {
    return {
      content: "Teacher Board",
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    currentUserIsTeacher() {
      return this.$store.state.auth.user['role'] === 'teacher';
    },
  },
  created() {
    if (!this.loggedIn) {
      this.$router.push("/login");
    }

    // If User is not teacher, go home
    if(!this.currentUserIsTeacher)
      this.$router.push("/")
      //this.$router.push("/login");
      //this.content = "NOT Teacher Board"
    else 
      this.content = "Teacher Board"
  },
  mounted() {
    // If User is not teacher, go home
    /*if(!this.currentUserIsTeacher)
      this.Srouter.push("/")
      //this.$router.push("/login");
      //this.content = "NOT Teacher Board"
    else 
      this.content = "Teacher Board"*/
    /*UserService.getTeacherBoard().then(
      (response) => {
        c = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );*/
  },
};
</script>