<template>
  <!-- Acciones -->
  <div class="flex flex-row w-full">
    <div v-if="selectedItemId !== 0" class="flex ml-4">
      <button 
        type="button" 
        class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-purple-300 text-white text-sm md:text-base capitalize font-medium hover:bg-white hover:text-gray-800 focus:outline-none" 
        @click="clearSelectedItem"
      >
        {{ $t("actions.clear_selection") }}
      </button>
    </div>
    <div v-else class="flex ml-4">
      <button 
        type="button" 
        class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-white text-gray-700 text-sm md:text-base capitalize font-medium hover:bg-purple-300 hover:text-white focus:outline-none" 
        @click="addNewItem"
      >
        {{ $t('actions.create') }} {{ $t('technical.skill')}}
      </button>
    </div>
  </div>

  <!-- Listado -->
  <div class="w-full mt-4 overflow-x-auto">
    <div
      class="min-w-full overflow-hidden rounded-lg shadow"
    >
      <div class="w-full">
        <technical-skill-list-item v-for="techSkill in sortedTechSkills" 
          :key="techSkill.id" 
          :techSkillItem="techSkill"
          :selectedItemId="selectedItemId"
          @click.prevent="selectRow(techSkill.id)"
          @delete-selected-item="onDeleteSelectedItem"
          @edit-selected-item="onEditSelectedItem"
          class="mb-3"
          :class="{'bg-purple-50': (techSkill.id === selectedItemId)}"
        ></technical-skill-list-item>
      </div>
      
      <!-- Paginación --> 
      <div
        class="flex flex-row justify-center px-1 py-1 bg-white"
      >
        <div class="flex flex-col px-4 py-4 justify-center">
          <div class="flex text-xs rounded">
            <button
              @click="firstPage"
              class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
            ><span>{{ $t('actions.pagination_first') }}</span>
            </button>
            <button
              @click="prevPage"
              class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
              </svg>
            </button>
            <button v-for="page in pages" 
                :key="page" 
                @click="loadPage(page)" 
                class="px-3 py-2 leading-tight border border-r-0 border-gray-200 "
                :class="[page !== currentPage ? 'text-indigo-700 bg-white hover:bg-indigo-500 hover:text-white' : 'bg-indigo-500 text-white hover:bg-white hover:text-indigo-700' ]">{{ page }}</button>
            <button
              @click="nextPage" 
              class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 hover:bg-indigo-500 hover:text-white"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
              </button>
            <button
                @click="lastPage" 
              class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r rounded-l border-gray-200 hover:bg-indigo-500 hover:text-white"
              ><span>{{ $t('actions.pagination_last') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin tabla -->

   <!-- Modal Borrado -->
  <teleport to="body">
    <modal-delete 
      v-if="openDeleteModal"
      v-model:showModal="openDeleteModal"
      :title=" $t('technical.delete_technical_title') "
      :text=" $t('technical.delete_technical_body') "
      @close-modal="openDeleteModal = false"
      @delete-action="deleteSelectedItem"
    ></modal-delete>
  </teleport>
  <!-- Fin Modal Borrado -->
  
</template>

<script>
import TechnicalSkillService from '@/services/technicalskill.service'

import TechnicalSkillListItem from '@/components/TechnicalSkillListItem'

import { defineComponent, ref } from 'vue'
import { mapState, mapMutations } from 'vuex'
import ModalDelete from '@/Views/ModalDelete'

export default defineComponent({
  name: "TechnicalSkillList",
  components: {
    TechnicalSkillListItem,
    ModalDelete,
  },

  setup() {
    const currentSort = ref('id')
    const currentSortDir = ref('desc')
    const pageSize = ref(7)
    const currentPage = ref(1)
    const numShown = ref(5)
    const last = ref(-1)
    const filter = ref('')
    const selectedItemId = ref(0)
    const isSubmitted = ref(false)
    const isSubmittedWithError = ref(false)
    const message = ref('')
    const errorMessage = ref('')
    const openDeleteModal = ref(false)


    return {
      currentSort,
      currentSortDir,
      pageSize,
      currentPage,
      numShown,
      last,
      filter,
      selectedItemId,
      isSubmitted,
      isSubmittedWithError,
      message,
      errorMessage,      
      openDeleteModal,

    };
  },
  async created() {
    
    console.log("getTechSkillsLoaded:"+this.techSkillsLoaded)
    if(!this.techSkillsLoaded) {
      // Add users from Database to VUEX state
      await this.getAllTechnicalSkills()
      this.CHANGE_TECHSKILLS_LOADED(true)
    }
    console.log("getchallengesLoaded(2):"+this.techSkillsLoaded)
  },
  computed: {
    ...mapState([
      'techSkills',
      'techSkillsLoaded',
      'searchFilter',
    ]),
    sortedTechSkills() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.filteredTechSkills.sort((a, b) => {
        let modifier = 1
        if(this.currentSortDir === 'desc') modifier = -1
        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      }).filter((_row, index) => {
        let start = (this.currentPage-1)*this.pageSize
        let end = this.currentPage*this.pageSize
        if(index >= start && index < end) return true
      });

    },
    pages() {
      
      // Limit pagination: https://stackoverflow.com/questions/65857993/how-to-limit-pagination-buttons-in-vue
      const numShown = Math.min(this.numShown, this.techSkills.length)
      //console.log("numShown 1 = "+numShown)
      let first = this.currentPage - Math.floor(numShown / 2)
      //console.log("first 1 ="+first)
      first = Math.max(first, 1)
      //console.log("first 2 ="+first)
      first = Math.min(first, this.techSkills.length - numShown + 1)
      //console.log("first 3 ="+first)
      let numeros = [...Array(numShown).keys()].map((i) => i + first)
      //let numeros = []
      //for(let i=0;i<numShown;i++) numeros.push(i+1)
      //console.log(numeros)
      return numeros
    },
    // Fuente: https://www.raymondcamden.com/2021/03/11/adding-filtering-to-my-vuejs-table-sorting-and-pagination-demo
    filteredTechSkills() {
      return this.techSkills.filter(r => {
        if(this.searchFilter == '') return true
        return r.name.toLowerCase().indexOf(this.searchFilter.toLowerCase()) >= 0
      })
    },
  },

  methods: {
    ...mapMutations([
      'CHANGE_SIDEBAR_SELECTION',
      'CHANGE_TECHSKILLS_LOADED',
      'ADD_TECHSKILLS',
      'DELETE_TECHSKILL',
    ]),

    
    sort: function(s) {
      //if s == current sort, reverse
      if(s === this.currentSort) {
        this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
      }
      this.currentSort = s;
    },
    nextPage: function() {
      if((this.currentPage*this.pageSize) < this.techSkills.length) this.currentPage++
    },
    prevPage: function() {
      if(this.currentPage > 1) this.currentPage--
    },
    firstPage: function() {
      this.currentPage = 1
    },
    lastPage: function() {
      this.currentPage =  Math.ceil(this.techSkills.length / this.pageSize)
    },
    loadPage:function(n) {
      this.currentPage = n
    },
    isChecked: function(selection) {
      return this.currentSort === selection
    },
    // Fuente: https://stackoverflow.com/questions/56567135/how-do-i-highlight-a-table-row-on-click-in-vuejs
    // Multiple selection: https://www.codeply.com/p/hi40H9aug9
    selectRow(techSkillId){
      this.selectedItemId = Number(techSkillId)
    },
    async getAllTechnicalSkills() {

      await TechnicalSkillService.getTechnicalSkillList().then(
      (response) => {
        let tSkills = response.data.technical_skills
        console.log(response.data)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newSkills = tSkills.map(function(t) {
          const newT = t
          // Cambiamos el identificador por un numero para poder ordenar el listado
          newT.id = parseInt(t.id, 10)
         
          //if(t.challenges_in) TIENE QUE HABER
            //newT.challenges_in = JSON.parse(t.challenges_in) 
          
          // Retos asociados en forma de Array
          if(t.challenges_in)
            newT.challenges_in = t.challenges_in.split(",") 
            //newT.challenges_in = JSON.parse(t.challenges_in)
          
          // Cambiamos los 1's y 0's por true y false
          if(t.has_rubric === "1")
            newT.has_rubric = true
          else newT.has_rubric= false
          
          return newT
        })
        //this.challenges = newchallenges
        this.ADD_TECHSKILLS(newSkills)
        console.log("Añadidos las TECH SKILLS al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },
    addNewItem() {
      this.$router.push({ name: 'TechSkillsAdd'})
    },
   
    onEditSelectedItem() {
      //console.log("(EDIT)selectedItemId="+this.selectedItemId)
      this.$router.push({ name: 'TechSkillsEdit', params: { technicalId: this.selectedItemId}})
      
    },
    
    clearSelectedItem() {
      this.selectedItemId = 0
    },
    onDeleteSelectedItem() {
      this.openDeleteModal = true
    },    
    async deleteSelectedItem(){
      this.errorMessage = ''
      this.message = ''
      this.openDeleteModal = false

      await TechnicalSkillService.delete(this.selectedItemId).then(
      (response) => {
        this.message = response.data
        // Borrar el ususario de los usuarios del componente
        //this.techSkills.filter((rubricId) => rubricId !== this.selectedItemId)
        this.DELETE_TECHSKILL(this.selectedItemId)
        this.selectedItemId = 0
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      )
    },
  },
  watch: {
    filter() {
      //console.log('reset to page 1 due to filter');
      this.currentPage = 1;
    }
  },
  mounted() {
    // Establecemos las última página
    this.last =  Math.ceil(this.techSkills.length / this.pageSize)
    this.CHANGE_SIDEBAR_SELECTION('technicalskills')  
    console.log("TechSkillsList, mounted!!")

    this.currentSort = 'id'
    this.currentSortDir='desc'
    this.sortedTechSkills

  },
});
</script>


