<template>
  <div 
    class="navbar mb-2 bg-gray-50 rounded-box border border-purple-600"
    @click="isActive = !isActive"
  >
    <!--@blur="isActive = false"
    @focusout="isActive = false"-->
    <div 
      v-show="isSelected && isActive" 
      class="flex w-1/6"
    >
      <div class="flex mx-auto font-semibold text-xs font-medium whitespace-nowrap text-gray-800">
        <button 
          class="text-red-600 has-tooltip m-2"
          @click="$emit('deleteSelectedItem', selectedItemId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8 capitalize'>
            {{ $t('actions.delete') }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
        <button 
          class="text-green-600 has-tooltip"
          @click.prevent="$emit('editSelectedItem', selectedItemId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-green-500 -mt-8 capitalize'>
            {{ $t('actions.edit') }} </span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </button>
      </div>
    </div>


    <div class="flex-1 px-2 lg:flex-none">
      <div class="flex flex-col">
        <a 
          class="text-md font-bold"
        >
          {{techSkillItem.name}}
        </a>
        <!--<div>
          <span 
            class="flex-none text-xs text-gray-800 capitalize"
            @click.prevent="isActive = !isActive"
          >
            {{ $t('technical.challenge_id')}}
          </span>
          <span class="flex-none text-xs text-gray-800 font-bold ml-1">
            {{techSkillItem.challenge_enroll_id}}
          </span>
        </div>-->
        
      </div>
      
    </div> 
    <div class="flex justify-end flex-1 px-2">
      <div class="flex items-stretch">
        <div class="dropdown dropdown-end">
          <div 
            tabindex="0" 
            class="btn btn-ghost rounded-btn"
            @click="isActive = !isActive"
          >
            <span class="mr-2">{{ $t('actions.what_to_do') }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">      
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>                    
            </svg>
          </div> 
          <ul tabindex="0" class="p-2 shadow menu compact dropdown-content bg-base-100 rounded-box w-64">
            <li>
              <router-link
                :to="{ name: 'TechSkillsEdit', params: {technicalId: selectedItemId}}" 
                @click="isActive = !isActive"
                class="flex flex-row text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
                <span class="capitalize">{{ $t('actions.edit') }}</span>
              </router-link>
            </li> 
            <li>
              <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                </svg>
                <span class="capitalize">{{ $t('actions.open_close') }} Sprints</span>
              </a>
            </li> 
            <li>
               <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                </svg>
                <span class="capitalize">{{ $t('actions.assess') }}</span>
              </a>
            </li> 
            <li>
              <a 
                class="flex flex-row text-gray-600"
                @click="isActive = !isActive"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <span class="capitalize">{{ $t('actions.show_results') }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "TechnicalSkillListItem",
  props: {
    techSkillItem: null,
    selectedItemId: Number,
  },
  data() {
     return {
      isActive: false,
    }
  },
  computed: {
    ...mapGetters([
    ]),
    
    isSelected() {
      return  this.selectedItemId === this.techSkillItem.id
    }
  },
  methods: {
   
  },
  mounted() {

    //if(this.techSkillItem.t_owner === 1)
      //console.log(this.getAllUsersWithFullName)
   
    //console.log("El pimer usuario es:")
    //console.log(this.getUserWithFullName(1))
    //console.log("teacher_owner:"+this.techSkillItem.t_owner)

    //console.log(this.getUserWithFullName(161))

    // Creando el array de niveles de docencia
    /*let map = []
    let objeto = { text: '', value: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.value = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', value: '' }
    }
    //console.log("El Array/Mapa de niveles de docencia")
    //console.log(map)

    */
  },

  
};
</script>