<template>
  <VeeForm v-slot="{ handleSubmit  }" :validation-schema="schema" as="div">
    <form @submit="handleSubmit($event, saveItem)"  class="bg-white rounded-lg shadow-lg pb-4 ">
      <div class="p-6">
        <h2 class="text-lg font-semibold text-gray-700 capitalize">
          {{ $t('technical.settings')}}
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-base">
          <div class="w-full flex flex-col">
            <label>
              <span class="capitalize">{{ $t("technical.name") }}</span>
            </label> 
            <Field 
              name="name" 
              id="name"
              type="text" 
              autocomplete="name"
              v-model="techSkill.name"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="name" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span class="capitalize">{{ $t("technical.description") }}</span>
            </label> 
            <Field 
              name="description" 
              id="description"
              type="text" 
              autocomplete="description"
              v-model="techSkill.description"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="description" 
              class="text-base text-red-600"  
            />  
          </div>
          
          <!-- Año Escolar -->
          <div class="w-full flex flex-col">
            <label>
              <span class="capitalize">{{ $t('technical.school_year')}}</span> 
            </label> 
            <Multiselect
              v-model="techSkill.school_year"
              :options="school_year"
              mode="single"
              label="school_year"
              valueProp="id"
              :createTag="false"
              placeholder=""
              openDirection="bottom"
              class=""
              :classes="{
                container: 'relative mx-auto w-full mt-0 flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                containerDisabled: 'cursor-default bg-gray-100',
                containerOpen: 'rounded-b-none',
                containerOpenTop: 'rounded-t-none',
                singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                tagDisabled: 'pr-2 !bg-gray-400 text-white',
                tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                caretOpen: 'rotate-180 pointer-events-auto',
                clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                dropdownHidden: 'hidden',
                options: 'flex flex-col p-0 m-0 list-none',
                optionsTop: 'flex-col-reverse',
                option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                optionPointed: 'text-gray-800 bg-gray-100',
                optionSelected: 'text-white bg-purple-500',
                optionDisabled: 'text-gray-300 cursor-not-allowed',
                optionSelectedPointed: 'text-white bg-purple-500 opacity-90',
                optionSelectedDisabled: 'text-green-100 bg-purple-500 bg-opacity-50 cursor-not-allowed',
                noOptions: 'py-2 px-3 text-gray-600 bg-white',
                noResults: 'py-2 px-3 text-gray-600 bg-white',
                fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                spacer: 'h-9 py-px box-content',
                }"
            />  
          </div>

          <div class="w-full flex flex-col">
            <div class="flex flex-row">
              <label class="mr-2">
                {{ $t("technical.has_rubric") }}
              </label>
              <input 
                type="checkbox" 
                checked="checked" 
                class="checkbox"
                v-model="techSkill.has_rubric" 
              />
            </div>

            <div v-if="techSkill.has_rubric" class="w-full">       

              <div class="w-full flex flex-col md:mt-6">
                <label>
                  <span></span> 
                </label> 
                <Multiselect
                  v-model="techSkill.rubric_id"
                  :options="rubrics"
                  mode="single"
                  label="name"
                  valueProp="id"
                  :searchable="true"
                  trackBy="name"
                  :createTag="false"
                  :placeholder="$t('technical.rubric_id')"
                  openDirection="bottom"
                  class=""
                  :classes="{
                    container: 'relative mx-auto w-full mt-0 flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                    containerDisabled: 'cursor-default bg-gray-100',
                    containerOpen: 'rounded-b-none',
                    containerOpenTop: 'rounded-t-none',
                    singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                    multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                    search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                    tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                    tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                    tagDisabled: 'pr-2 !bg-gray-400 text-white',
                    tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                    tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                    tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                    tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                    tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                    placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                    caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                    caretOpen: 'rotate-180 pointer-events-auto',
                    clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                    clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                    spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                    dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                    dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                    dropdownHidden: 'hidden',
                    options: 'flex flex-col p-0 m-0 list-none',
                    optionsTop: 'flex-col-reverse',
                    option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                    optionPointed: 'text-gray-800 bg-gray-100',
                    optionSelected: 'text-white bg-purple-500',
                    optionDisabled: 'text-gray-300 cursor-not-allowed',
                    optionSelectedPointed: 'text-white bg-purple-500 opacity-90',
                    optionSelectedDisabled: 'text-green-100 bg-purple-500 bg-opacity-50 cursor-not-allowed',
                    noOptions: 'py-2 px-3 text-gray-600 bg-white',
                    noResults: 'py-2 px-3 text-gray-600 bg-white',
                    fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                    spacer: 'h-9 py-px box-content',
                    }"
                />
              </div>

            </div>
            
          
            


          </div>
        </div> <!-- Fin GRID -->

        <div class="w-full flex flex-col md:mt-6">
          <label>
            <span></span> 
          </label> 
          <Multiselect
            v-model="techSkill.challenges_in"
            :options="challengesIn"
            mode="tags"
            label="name"
            valueProp="id"
            :searchable="true"
            trackBy="name"
            :createTag="false"
            :placeholder="$t('technical.challenges_in')"
            openDirection="bottom"
            class=""
            :classes="{
              container: 'relative mx-auto w-full mt-0 flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
              containerDisabled: 'cursor-default bg-gray-100',
              containerOpen: 'rounded-b-none',
              containerOpenTop: 'rounded-t-none',
              singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
              multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
              search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
              tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
              tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
              tagDisabled: 'pr-2 !bg-gray-400 text-white',
              tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
              tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
              tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
              tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
              tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
              placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
              caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
              caretOpen: 'rotate-180 pointer-events-auto',
              clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
              clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
              spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
              dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
              dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
              dropdownHidden: 'hidden',
              options: 'flex flex-col p-0 m-0 list-none',
              optionsTop: 'flex-col-reverse',
              option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
              optionPointed: 'text-gray-800 bg-gray-100',
              optionSelected: 'text-white bg-purple-500',
              optionDisabled: 'text-gray-300 cursor-not-allowed',
              optionSelectedPointed: 'text-white bg-purple-500 opacity-90',
              optionSelectedDisabled: 'text-green-100 bg-purple-500 bg-opacity-50 cursor-not-allowed',
              noOptions: 'py-2 px-3 text-gray-600 bg-white',
              noResults: 'py-2 px-3 text-gray-600 bg-white',
              fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
              spacer: 'h-9 py-px box-content',
              }"
          />
        </div>

        <!--<hr class="border-1 mt-4">-->
      </div>
      <div class="flex justify-center space-x-10 mt-4">
        <button 
          class="h-10 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700 capitalize"
          :disabled="isFormInvalid()"
          :class="{ 'opacity-25 cursor-not-allowed cursorpointer-none': isFormInvalid() }"
        >
        <!---->
          {{ $t('actions.save')}}
        </button>
        <button 
          type="button"
          @click="cancelAdd" 
          class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800 capitalize">                  
          {{ $t('actions.cancel')}}
        </button>
      </div>
    </form>
  </VeeForm>

  <!-- Modal isSavedSuccessfully -->
  <teleport to="body">
    <modal-info 
      v-if="isSavedSuccessfully"
      v-model:showModal="isSavedSuccessfully"
      :title=" $t('technical.edit') "
      :text=" $t('technical.updated_successful') "
      @close-modal="savedSuccesful"
    ></modal-info>
  </teleport>

</template>

<script>
import TechnicalSkillService from '@/services/technicalskill.service'
import RubricService from '@/services/rubric.service'
import ChallengeService from '@/services/challenge.service'

import { mapState, mapGetters, mapMutations } from 'vuex'
//import { toRefs, reactive } from 'vue'

import { Form as VeeForm, Field, ErrorMessage } from "vee-validate"
import * as yup from "yup"
import Multiselect from '@vueform/multiselect'

import ModalInfo from '@/Views/ModalInfo'


export default {
  name: "TechnicalSkillEdit",
  components: {
    VeeForm,
    Field,
    ErrorMessage,
    Multiselect,
    ModalInfo,
  },
  props:{
    technicalId: {
      type: String,
      required: true,
    }
  },
  data() {
    
    const schema = yup.object().shape({
      name: yup
        .string()
        .required(this.$t('technical.input_create_error_required'))
        .min(8, this.$t('technical.input_create_error_min'))
        .max(250, this.$t('technical.input_create_error_max')),      

      description: yup
        .string()
        .max(250, this.$t('technical.input_create_error_max')), 
    })
    

    return {
      techSkill: {},
      schema,
      hasRubricSelected: 0,
      rubrics: [],
      challengesIn: [],
      isSavedSuccessfully: false,
      
    }

  },
  computed: {
    ...mapState([
      'techSkills',
    ]),
    ...mapGetters([
      'getAllRubrics',
      'getAllChallenges',
      'getRubricsLoaded',
      'getChallengesLoaded',
      'getTechnicalSkillById',
    ]),
    
  },
  async created() {

    //this.techSkill = toRefs(reactive({ ...this.getTechnicalSkillById(this.technicalId)}))
    //this.techSkill = { ...this.getTechnicalSkillById(this.technicalId)}
    //const cloneFood = Object.assign({}, food);
    this.techSkill = Object.assign({}, this.getTechnicalSkillById(this.technicalId))

    // Convertimos los retos en los que está en un array
    //Array.split`,`.map(x=>+x)
    // https://stackoverflow.com/questions/15677869/how-to-convert-a-string-of-numbers-to-an-array-of-numbers
    /*if(this.techSkill.challenges_in.includes(","))
      this.techSkill.challenges_in = this.techSkill.challenges_in.split`,`.map(x=>+x)
    else {
      let ch_array = new Array()
      ch_array.push(this.techSkill.challenges_in)
    
      this.techSkill.challenges_in = ch_array
    }*/

    // No hace falta comprobar lo
    //this.techSkill.has_rubric === '1' ? this.techSkill.has_rubric = true : this.techSkill.has_rubric = false

    //let inChallenges = this.techSkill.challenges_in.split`,`.map(x=>+x)
    //console.log(inChallenges)

    console.log("TechnicalSkillEdit: techSkill:")
    console.log(this.techSkill)
    
    // Cargar los usuarios de la BBDD si no lo están ya.
    /*if(!this.getUsersLoaded()) {
      // Add users from Database to VUEX state
      await this.getAllUsers()
      this.CHANGE_CHALLENGES_LOADED(true)
    }*/

    // Cargar las rúbricas de la BBDD si no lo están ya.
    if(!this.getRubricsLoaded()) {
      await this.getRubrics()
    }

    this.rubrics = this.getAllRubrics() // traemos TODAS las rúbricas del estado
    // *********
    //  cambiar por getMyRubrics() a las que tenga acceso el profesor.

    // Obtenemos todos los retos
    if(!this.getChallengesLoaded())
      await this.getChallenges()

    this.challengesIn = this.getAllChallenges()
  
  },

  methods: {
    ...mapMutations([
      'CHANGE_RUBRICS_LOADED',
      'CHANGE_CHALLENGES_LOADED',
      'CHANGE_TECHSKILLS_LOADED',
      'UPDATE_TECHSKILL',
      'ADD_RUBRICS',
      'ADD_CHALLENGES',
    ]),
    cancelAdd() {
      this.$router.go('-1')
    },
   
    async saveItem() {

      // Actualizamos las modificaciones en la BBDD
      await TechnicalSkillService.update(this.techSkill.id,this.techSkill).then(
      (response) => {
        let estado = response.status
        this.errorMessage = ''
        this.message = ''
        
        if(estado === 200) {
          //console.log("Status 200")
          //console.log(response)
          //console.log("savedTechnicalSkill:")
          //console.log(savedTechnicalSkill)
          this.message = this.$t('challenges.updated_successful')
          // Forzamos la carga de usuarios para mostrar los cambios
          this.isSavedSuccessfully = true


          // Actualizamos el usuario en el modelo de VUE
          this.UPDATE_TECHSKILL(this.techSkill)
          
          /*let ts = response.data.technical_skill
          ts.id = Number(ts.id)
          console.log(ts)
          //this.UPDATE_TECHSKILL(response.data.technical_skill)
          this.UPDATE_TECHSKILL(ts)*/
        }
        else {
          this.errorMessage = response.data
          console.log("se ha enviado, pero ha fallado:")
          console.log(this.errorMessage);
        }
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString(); 
          
          console.log("ERRROR")
          console.log(this.errorMessage)
        }
      )
    },
    savedSuccesful() {
      this.isSavedSuccessfully = false // Ocultamos el modal
      this.$router.push({ name: 'TechSkills'})
      //this.$router.push({ name: 'Dashboard', params: { newUserId: this.user.id }})
    },
   
    // https://www.youtube.com/watch?v=HDiPOkFIP60
    /*resizeTA(e) {
      e.target.style.height = 'auto'
      e.target.style.height = `${e.target.scrollHeight}px`
    },*/


    /*async getAllUsers() {

      // Añadimos los usuarios de la respueta de la API
      await UserService.getUsersList().then(
      (response) => {
        let users = response.data.users
        //console.log(users)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newUsers = users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          if(u.teaching_levels)
            newU.teaching_levels = JSON.parse(u.teaching_levels)  
            
          return newU
        })
        users = newUsers
        
        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        this.ADD_USERS(users)
        //console.log("Añadidos los usuarios al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );
      
    },*/

    async getRubrics() {

      await RubricService.getRubricList().then(
      (response) => {
        let rubrics = response.data.rubrics
        console.log(this.rubrics)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newRubrics = rubrics.map(function(r) {
          const newR = r
          newR.id = parseInt(r.id, 10)
          if(r.data)
            newR.data = JSON.parse(r.data) // Items de la rúbrica (criteria)
          if(r.t_available_for)
            newR.t_available_for = JSON.parse(r.t_available_for) // Profesores que pueden ver la rúbrica
          if(r.teaching_levels)
            newR.teaching_levels = JSON.parse(r.teaching_levels) // Nieveles en los que se puede ver la rúbrica
          return newR
        })
        //this.rubrics = newRubrics
        this.ADD_RUBRICS(newRubrics)
        this.CHANGE_RUBRICS_LOADED(true)
        console.log("Añadidas las Rúbricas al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },
    async getChallenges() {

      await ChallengeService.getChallengeList().then(
      (response) => {
        let challenges = response.data.challenges
        console.log(response.data)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newChallenges = challenges.map(function(r) {
          const newR = r
          newR.id = parseInt(r.id, 10)
          if(r.data)
            newR.data = JSON.parse(r.data) // Items de la rúbrica (criteria)
          //if(r.t_available_for)
          //  newR.t_available_for = JSON.parse(r.t_available_for) // Profesores que pueden ver la rúbrica
          if(r.teaching_levels)
            newR.teaching_levels = JSON.parse(r.teaching_levels) // Nieveles en los que se puede ver la rúbrica
          return newR
        })
        //this.challenges = newChallenges
        this.ADD_CHALLENGES(newChallenges)
        console.log("Añadidos los RETOS al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },

    isFormInvalid() {
      if (this.techSkill.school_year === null || this.techSkill.school_year === "")
        return true
      if (this.techSkill.challenges_in.length === 0)
        return true
      if (this.techSkill.has_rubric)
        if(this.techSkill.rubric_id === null || this.techSkill.rubric_id === "")
          return true

      return false
    },
    getValidCourseYear() {
      var courseYear = ''
      var today = new Date()
      var currentYear = new Date().getFullYear()
      var newCourseYear = new Date(Number(currentYear),'08','01') // 1 sept 2021
      //console.log(newCourseYear)

      if (today > newCourseYear) {
        console.log("Es mayor")
        //let courseYear = currentYear + '-' + String(currentYear + 1).slice(-2)
        //console.log(courseYear)
        courseYear = currentYear + '-' + String(currentYear + 1).slice(-2)

      }
      else {
        console.log("ES menor")
        courseYear = (currentYear - 1) + '-' + String(currentYear).slice(-2)
      }
      return String(courseYear)
    },
    
  },
  
};
</script>
