<template>
  <tr class="bg-white">
    <td v-if="this.selectedUserId !== 0" class="flex-1 pl-4 p-0">
      <div class="flex-1 items-center space-x-2 font-semibold text-xs font-medium leading-5 whitespace-nowrap text-gray-900">
        <button 
          class="text-red-600 has-tooltip"
          @click="$emit('deleteSelectedUser', selectedUserId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8'>{{ $t('users.header_userdelete') }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
        <button 
          class="text-green-600 has-tooltip"
          @click="$emit('editSelectedUser', selectedUserId)"
        >
          <span class='tooltip rounded shadow-lg p-1 bg-gray-50 text-red-500 -mt-8'>
            {{ $t('users.header_useredit') }} </span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </button>
      </div>
    </td>
    <td
      class="px-0 py-2 border-b border-gray-200 whitespace-nowrap"
    >
      <div class="flex items-center">
        <!--<div class="flex-shrink-0 w-10 h-10">
          <img
            class="w-10 h-10 rounded-full"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="profile pic"
          />
        </div>-->
        <div class="ml-3">
          <div
            class="text-xs font-medium leading-5 whitespace-nowrap text-gray-900"
          >
            {{ this.userItem.fullname }}
          </div>
          <div class="text-xs leading-5 text-gray-500">
            {{ this.userItem.username }}
          </div>
        </div>
      </div>
    </td>
    <td
      class="px-0 py-0 border-b border-gray-200 whitespace-nowrap"
    >
      <div class="flex items-center">
        <div class="ml-3">
          <div
            class="text-xs font-medium leading-5 whitespace-nowrap text-gray-900"
          >
            {{ this.userItem.email }}
          </div>
          <span 
            class="text-xs px-1 leading-5"
            :class="this.userItem.status === 'active' ? 'font-semibold text-green-700 bg-green-100 rounded-full' : 'text-gray-800 bg-red-200 rounded-full'"
          >
            {{ this.userItem.status }}
          </span>
        </div>
      </div>
    </td>
   <td
      class="px-0 py-0 border-b border-gray-200 whitespace-nowrap"
    >
      <div class="flex items-center">
        <div class="ml-3">
          <div
            class="text-xs font-medium leading-5 whitespace-nowrap text-gray-900"
          >
            {{ this.userItem.role }}
          </div>
          <span v-if="Number(this.userItem.t_coordinator) === 1"
            class="text-xs px-1 leading-5 font-semibold text-green-700 bg-green-100 rounded-full"
          >
            {{ $t('users.t_coordinator') }}
          </span>
        </div>
      </div>
    </td>
  </tr>
</template>

<script>
//import { defineComponent, ref } from "vue";
//import UserService from '@/services/user.service'
//import { mapState, mapGetters, mapMutations } from 'vuex'


//export default defineComponent({
export default {
  name: "UserListItem",
  data() {
    return {
      openModal: false,
    };
  },
  props: {
    userItem: {
      type: Object,
      required: true,
    },
    //userid: Number,
    //isUserEdited: Number,
    selectedUserId: {
      type: Number,
      required: true,
    },
  },
  //emits: [ 'deleteSelectedUser' ]
  /*computed: {
    ...mapState(['selectedUserId']),
    ...mapGetters(['getSelectedUserId']),
  },
  methods: {
    ...mapMutations(['CHANGE_SELECTED_USERID']),
*/
/*
  methods: {
    deleteSelectedUser() {
      this.errorMessage = ''
      this.message = ''
      this.showModal = false


      UserService.delete(this.selectedUserId).then(
      (response) => {
        this.message = response.data
        // Borrar el ususario de los usuarios del componente
        this.users.filter((userId) => userId !== this.selectedUserId)
        // Forzamos la carga de usuarios para mostrar los cambios
        //this.CHANGE_SELECTED_USERID(0)
        this.getAllUsers()
        this.$forceUpdate()

      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );

    },
    updateUserItem(currentUser) {
      console.log(currentUser)
    },
  }
  */
 
};
</script>