<template>

  <!--<div class="p-4 md:p-10 card mx-auto w-full md:w-1/2 bg-base-200">
    <form class="form-control">
      <input name="id" :value="this.currentUserItem.id" hidden>
      <label class="label">
        <span class="label-text">Nom d'usauri</span>
      </label> 
      <input name="username" type="text" :value="this.currentUserItem.username" class="input input-primary input-bordered"> 
      <label class="label mt-2 md:mt-4">
        <span class="label-text">Correu electrònic</span>
      </label> 
      <input name="email" type="email" :value="this.userItem.email" class="input input-primary input-bordered"> 
      <label class="label mt-2 md:mt-4">
        <span class="label-text">Contrasenya (nova)</span>
      </label> 
      <input name="password" type="password" placeholder="**********" class="input input-primary input-bordered">
        <label class="label mt-2 md:mt-4">
          <span class="label-text">Rol</span> 
        </label> 
      <select 
        name="role"
        class="select select-bordered select-primary w-full max-w-xs"
        :selected="selected"
      >
        <option v-for="option in options" :key="option.text" :value="option.value">
          {{ option.text}}
        </option>
     
      </select>
      <div class="flex space-x-10 mt-4 mx-auto">
        <button class="btn btn-success" type="text" @click="submitEditUser">Guardar</button> 
        <button class="btn btn-error" @click="cancelEditUser">Cancelar</button>
      </div>
    </form>

  </div>
  -->

   <div class="shadow-lg">
    <!--<section class="w-5/6 md:w-4/6 flex justify-items-center mx-auto text-purple-800 pt-4  ">-->
      <Form @submit="saveUser" :validation-schema="schema">
        <div v-if="!submitted">

          <!-- V-Forms -->
          <div class="mt-0">
            <div class="p-6 bg-white rounded-md shadow-md">
              <h2 class="text-lg font-semibold text-gray-700 capitalize">
                {{ $t('users.account_settings')}}
              </h2>
              <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-base">
                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.firstname") }}</span>
                  </label> 
                  <Field 
                    name="firstname" 
                    id="firstname"
                    type="text" 
                    autocomplete="firstname"
                    v-model="user.firstname"
                    class="input input-primary input-bordered input-sm md:input-md"
                  /> 
                  <ErrorMessage name="firstname" 
                    class="text-base text-red-600"  
                  />  
                </div>

                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.lastname") }}</span>
                  </label> 
                  <Field 
                    name="lastname" 
                    id="lastname"
                    type="text" 
                    autocomplete="lastname"
                    v-model="user.lastname"
                    class="input input-primary input-bordered input-sm md:input-md"
                  /> 
                  <ErrorMessage name="lastname" 
                    class="text-base text-red-600"  
                  />  
                </div>
                
                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.username") }}</span>
                  </label> 
                  <Field 
                    name="username" 
                    id="username"
                    type="text" 
                    autocomplete="username"
                    v-model="user.username"
                    class="input input-primary input-bordered input-sm md:input-md"
                  /> 
                  <ErrorMessage name="username" 
                    class="text-base text-red-600"  
                  />  
                </div>

                <div class="flex flex-col">
                  <label>
                    <span>{{ $t("users.email") }}</span>
                  </label> 
                  <Field 
                    name="email" 
                    id="email"
                    type="email" 
                    autocomplete="email"
                    v-model="user.email" 
                    class="input input-primary input-bordered input-sm md:input-md"
                  /> 
                  <ErrorMessage name="email" 
                    class="text-base text-red-600"  
                  />
                </div>

                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.password") }}</span>
                  </label> 
                  <Field 
                    name="password" 
                    id="password"
                    type="password" 
                    placeholder="**********" 
                    autocomplete="new-password"
                    v-model="user.password" 
                    class="input input-primary input-bordered input-sm md:input-md"
                  />
                  <ErrorMessage name="password" 
                    class="text-base text-red-600"  
                  />
                </div>

                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.password_confirm") }}</span>
                  </label> 
                  <Field 
                    name="password-confirm" 
                    id="password-confirm"
                    type="password" 
                    placeholder="**********" 
                    autocomplete="password-confirm"
                    v-model="user.passwordConfirm" 
                    class="input input-primary input-bordered input-sm md:input-md"
                  />
                  <ErrorMessage name="password-confirm" 
                    class="text-base text-red-600"  
                  />
                </div>

                <div class="w-full flex flex-col">
                  <label>
                    <span>{{ $t("users.role") }}</span> 
                  </label> 
                  <select 
                    name="role"
                    aria-label="role"
                    type="checkbox"
                    class="select select-bordered select-primary select-sm w-full"
                    v-model="roleSelected"
                    @change="changeSelectedRole"
                  >
                    <option v-for="roleOption in roleOptions" 
                      :key="roleOption.text" 
                      :value="roleOption.value"
                    >
                      {{ roleOption.text }}
                    </option>
                  </select>
                  
                  <div v-if="roleSelected === 'teacher'" class="w-full flex flex-col">       
                    <div class="p-6">
                      <div class="form-control">
                        <label class="cursor-pointer label">
                          <span class="label-text">{{ $t("users.t_coordinator") }}?</span> 
                          <input 
                            name="teacherCoordinator" 
                            type="checkbox" 
                            checked="checked" 
                            v-model="teacherCoordinator" 
                            class="checkbox" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="w-full flex flex-col">
                  <label>
                    <span></span> 
                  </label> 
                  <Multiselect
                    v-model="multipleLevelSelected"
                    :options="userLevels"
                    mode="tags"
                    label="text"
                    valueProp="value"
                    :searchable="true"
                    :placeholder="$t('users.teaching_levels')"
                    openDirection="top"
                    class="mt-6"
                    :classes="{
  container: 'relative mx-auto w-full flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
  containerDisabled: 'cursor-default bg-gray-100',
  containerOpen: 'rounded-b-none',
  containerOpenTop: 'rounded-t-none',
  singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
  multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
  search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
  tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
  tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
  tagDisabled: 'pr-2 !bg-gray-400 text-white',
  tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
  tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
  tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
  tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
  tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
  placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
  caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
  caretOpen: 'rotate-180 pointer-events-auto',
  clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
  clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
  spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
  dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
  dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
  dropdownHidden: 'hidden',
  options: 'flex flex-col p-0 m-0 list-none',
  optionsTop: 'flex-col-reverse',
  option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
  optionPointed: 'text-gray-800 bg-gray-100',
  optionSelected: 'text-white bg-green-500',
  optionDisabled: 'text-gray-300 cursor-not-allowed',
  optionSelectedPointed: 'text-white bg-green-500 opacity-90',
  optionSelectedDisabled: 'text-green-100 bg-green-500 bg-opacity-50 cursor-not-allowed',
  noOptions: 'py-2 px-3 text-gray-600 bg-white',
  noResults: 'py-2 px-3 text-gray-600 bg-white',
  fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
  spacer: 'h-9 py-px box-content',
}"
            
                    />  
                  </div>

              </div>

              <div class="flex justify-center space-x-10 mt-4">
                <button 
                  type="submit" 
                  @click="saveUser" 
                  class="h-10 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700">
                  {{ $t('users.save')}}
                </button>
                <button 
                  @click="cancelNewUser" 
                  class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">                  
                  {{ $t('users.cancel')}}
                </button>
              </div>
            </div>
          </div>
          <!-- Fin V-Fomrs -->


        </div>
      
       <div v-else>
          <div v-if="!submitted_error" class="alert alert-success flex flex-col mt-0">
            <div class="flex-1 p-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>                          
              </svg>  
              <label class="mx-3">{{ message }}</label>
            </div> 
            <div class="flex flex-col md:flex-row">
              <button class="btn btn-sm btn-outline mr-2" @click="cancelNewUser">{{ $t("users.home")}}</button> 
              <button class="btn btn-sm btn-outline" @click="newUser">{{ $t("users.create") }} {{ $t("users.header_useradd") }}</button>
            </div>
          </div>
          <!-- Errors -->
          <div v-else class="alert alert-error">
            <div class="flex-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">    
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>                      
              </svg> 
              <label>{{ errorMessage }}</label>
            </div>
            <div class="flex flex-col md:flex-row">
              <!--<button class="btn btn-sm btn-ghost mr-2" @click="cancelNewUser">{{ $t("users.home")}}</button> -->
              <button class="btn btn-sm btn-accent" @click="newUser">{{ $t("users.create") }} {{ $t("users.header_useradd") }}</button>
            </div>
          </div>
        </div>
      </Form>
    <!--</section>-->
  </div>
</template>

<script>
//import UserService from "../services/user.service";

export default {
  name: "UserEditItem",
  props: {
    userItem: {
      type: Object,
      default: null,
    },
    //editingUser: Boolean,
    //userid: Number,
  },
  data() {
    return {
      currentUserItem: this.userItem,
      selected: '',
      options: [
        { text: 'Professorat', value: 'teacher' },
        { text: 'Alumnat', value: 'student' },
        { text: 'Administrador', value: 'admin' }
      ]
    }
  },
  /*data() {
    return {
      userItem: "",
    };
  },*/
  methods: {
    cancelEditUser() {
      //this.editingUser = false
      this.$emit('changeEditingUser')
    },
    submitEditUser() {
      // eslint-disable-next-line vue/no-mutating-props
      //this.userItem = this.currentUserItem
      this.$emit('updateEditingUSer', this.currentUserItem)
      /*this.message = "";
      this.successful = false;

      console.log("current USER=");
      console.log(this.currentUserItem);
    

      this.$store.dispatch("auth/update", this.currentUserItem).then(
        (response) => {
          this.message = response.message;
          this.successful = true;
          console.log("response = ");
          //this.loading = false;
        },
        (error) => {
          //if(error.response.data.username 
          //  || error.response.data.password 
          //  || error.response.data.email) {
          //    this.message = error.response.data.username 
          //  || error.response.data.password 
          //  || error.response.data.email;
          //} else
          //  this.message =
          //    (error.response &&
          //      error.response.data &&
          //      error.response.data.message) ||
          //    error.message ||
          //    error.toString();
          this.message = error.message;
          
          this.successful = false;
          //this.loading = false;
          console.log("error.message="+error.message);
          //console.log("error.response="+error.response.data.username);
        }
      );*/
    },
  },
  mounted() {

    console.log("this.userItem=");
    console.log(this.userItem);
    this.selected = this.userItem.role


    //this.currentUserItem = this.userItem

  },
};
</script>


