<template> 
  <sidebar-component v-if="loggedIn"></sidebar-component>
  <div class="relative md:ml-56 py-20 md:py-0 bg-blueGray-100">

    <!-- Check logged in -->
    <div v-if="!loggedIn" class="flex-1">
      <Login />
    </div>
       <!-- Content -->
    <template v-else>
      <sidebar-component></sidebar-component>
      <div class="flex-1 p-2 text-base">
        <userlist-component></userlist-component>
        <!--<useritem-component></useritem-component>-->
      </div>
      <footer-component></footer-component>
    </template>
  </div>
</template>

<script>
import Login from '@/components/Login'
import SidebarComponent from '@/Views/Sidebar'
import UserlistComponent from '@/components/UserList'
//import UseritemComponent from '@/components/UserItem'
import FooterComponent from '@/Views/Footer'

export default {
  name: "UsersBoard",
  components: {
    Login,
    SidebarComponent,
    //UseritemComponent,
    UserlistComponent,
    FooterComponent,
  },
  data() {
    return {
      content: "",
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
};
</script>
