<template>
  <VeeForm v-slot="{ handleSubmit  }" :validation-schema="schema" as="div">
    <form @submit="handleSubmit($event, saveUser)"  class="shadow-lg">
    
      <div class="p-6 bg-white rounded-md shadow-md">
        <h2 class="text-lg font-semibold text-gray-700 capitalize">
          {{ $t('actions.edit')}} {{ $t('users.user')}}
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-base">
          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.firstname") }}</span>
            </label> 
            <Field 
              name="firstname" 
              id="firstname"
              type="text" 
              autocomplete="firstname"
              v-model="user.firstname"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="firstname" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.lastname") }}</span>
            </label> 
            <Field 
              name="lastname" 
              id="lastname"
              type="text" 
              autocomplete="lastname"
              v-model="user.lastname"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="lastname" 
              class="text-base text-red-600"  
            />  
          </div>
          
          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.username") }}</span>
            </label> 
            <Field 
              name="username" 
              id="username"
              type="text" 
              autocomplete="username"
              v-model="user.username"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="username" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="flex flex-col">
            <label>
              <span>{{ $t("users.email") }}</span>
            </label> 
            <Field 
              name="email" 
              id="email"
              type="email" 
              autocomplete="email"
              v-model="user.email" 
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="email" 
              class="text-base text-red-600"  
            />
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.password") }}</span>
            </label> 
            <Field 
              name="password" 
              id="password"
              type="password" 
              placeholder="**********" 
              autocomplete="new-password"
              v-model="user.password"
              :rules="{ required: false }"
              class="input input-primary input-bordered input-sm md:input-md"
            />
            <ErrorMessage name="password" 
              class="text-base text-red-600"  
            />
          </div>

          <div class="w-full flex flex-col text-not-allowed  opacity-100 cursor-not-allowed">
            <label>
              <span>{{ $t("users.password_confirm") }}</span>
            </label> 
            <Field 
              name="password_confirm" 
              id="password_confirm"
              type="password" 
              placeholder="**********" 
              autocomplete="password_confirm"
              v-model="passwordConfirm" 
              class="input input-primary input-bordered input-sm md:input-md"
            />
            <ErrorMessage name="password_confirm" 
              class="text-base text-red-600"  
            />
          </div>


          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.role") }}</span> 
            </label> 
            <select 
              name="role"
              aria-label="role"
              class="select select-bordered select-primary select-sm w-full"
              v-model="roleSelected"
              @change="changeSelectedRole"
            >
              <option v-for="roleOption in roleOptions" 
                :key="roleOption.text" 
                :value="roleOption.value"
              >
                {{ roleOption.text }}
              </option>
            </select>
            
            <div v-if="roleSelected === 'teacher'" class="w-full flex flex-col">       
              <div class="p-6">
                <div class="form-control">
                  <label class="cursor-pointer label">
                    <span class="label-text">{{ $t("users.is_t_coordinator") }}?</span> 
                    <input 
                      id="teacherCoordinator"
                      name="teacherCoordinator" 
                      type="checkbox" 
                      v-model="teacherCoordinator" 
                      class="checkbox" />
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span></span> 
            </label> 
            <Multiselect
              name="teaching_levels"
              v-model="multipleLevelSelected"
              :options="userLevels"
              mode="tags"
              label="text"
              valueProp="value"
              :searchable="true"
              trackBy="text"
              :placeholder="$t('users.teaching_levels')"
              openDirection="bottom"
              class="mt-6"  
              :classes="{
                container: 'relative mx-auto w-full flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                containerDisabled: 'cursor-default bg-gray-100',
                containerOpen: 'rounded-b-none',
                containerOpenTop: 'rounded-t-none',
                singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                tagDisabled: 'pr-2 !bg-gray-400 text-white',
                tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                caretOpen: 'rotate-180 pointer-events-auto',
                clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                dropdownHidden: 'hidden',
                options: 'flex flex-col p-0 m-0 list-none',
                optionsTop: 'flex-col-reverse',
                option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                optionPointed: 'text-gray-800 bg-gray-100',
                optionSelected: 'text-white bg-green-500',
                optionDisabled: 'text-gray-300 cursor-not-allowed',
                optionSelectedPointed: 'text-white bg-green-500 opacity-90',
                optionSelectedDisabled: 'text-green-100 bg-green-500 bg-opacity-50 cursor-not-allowed',
                noOptions: 'py-2 px-3 text-gray-600 bg-white',
                noResults: 'py-2 px-3 text-gray-600 bg-white',
                fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                spacer: 'h-9 py-px box-content',
              }"    
            /> 
            <ErrorMessage name="teaching_levels" 
              class="text-base text-red-600"  
            />
          </div>
        </div>

        <div class="flex justify-center space-x-10 mt-4">
          <button 
            class="h-10 px-5 m-2 capitalize text-purple-100 transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700"
            :class="[multipleLevelSelected.length === 0 ? 'cursor-not-allowed cursorpointer-none opacity-25': '']"
            :disabled="multipleLevelSelected.length === 0">
            {{ $t('actions.save')}}
          </button>
          <button 
            type="button"
            @click="cancelUpdateUser" 
            class="h-10 px-5 m-2 capitalize text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">                  
            {{ $t('actions.cancel')}}
          </button>
        </div>
      </div>
    </form>
  </VeeForm>

  <!-- Modal isSavedSuccessfully -->
  <teleport to="body">
    <modal-info 
      v-if="isSavedSuccessfully"
      v-model:showModal="isSavedSuccessfully"
      :title=" $t('users.header_useredit')+ ' '+$t('users.user')"
      :text=" $t('users.updated_successful') "
      @close-modal="savedSuccesful"
    ></modal-info>
  </teleport>

</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { Form as VeeForm, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import Multiselect from '@vueform/multiselect'
import UserService from '@/services/user.service'
import ModalInfo from '@/Views/ModalInfo'

export default {
  name: "UserEdit",
  components: {
    VeeForm,
    Field,
    ErrorMessage,
    Multiselect,
    ModalInfo
  },
  props:{
    userId: {
      type: String,
      required: true,
    }
  },
  /*setup(props) {
    //const { currentUserItem } = toRefs(props)
    //const user = ref(props.userItem)
    // eslint-disable-next-line vue/no-setup-props-destructure
    const user = {...props.userItem}
    // Hacemos una copia del usuario en local.
    //const user = props.userItem.map(x => ({...x}))
    return {
      //currentUserItem,
      user,
    }
  },*/
  data() {
    yup.addMethod(yup.string, 'allowEmpty', function (_formats, _parseStrict) {
      return this.transform(v => v === '' ? null : v).nullable()
    })
    const schema = yup.object().shape({
      firstname: yup.string().required(this.$t('users.create_error_firstname_required')),
      lastname: yup.string().required(this.$t('users.create_error_lastname_required')),
      username: yup
        .string()
        .required(this.$t('users.create_error_username_required'))
        .min(4, this.$t('users.create_error_username_min'))
        .max(50, this.$t('users.create_error_username_max')),
      email: yup
        .string()
        .required(this.$t('users.create_error_email_required'))
        .email(this.$t('users.create_error_email_valid'))
        .max(250, this.$t('users.create_error_email_max')),
      password: yup
        .string()
        .min(8, this.$t('users.create_error_password_min'))
        .max(40, this.$t('users.create_error_password_max'))
        .allowEmpty(),
      password_confirm: yup
        .string()
        .min(8, this.$t('users.create_error_password_min'))
        .max(40, this.$t('users.create_error_password_max'))
        .oneOf([yup.ref("password"),null], this.$t('users.create_error_password_missmatch'))
        .allowEmpty(),
    })
    
    return {
      user : null,
      submitted: false,
      submitted_error: false,
      message: "",
      schema,
      roleOptions: [
        { text: 'Professorat', value: 'teacher' },
        { text: 'Alumnat', value: 'student' },
        { text: 'Administrador', value: 'admin' }
      ],
      roleSelected: '',
      userLevels: [],
      levelSelected: '',
      multipleLevelSelected: [],
      teacherCoordinator: false,
      passwordConfirm: '',
      isSavedSuccessfully: false,

    }
  },
  computed: {
    ...mapGetters(
      ['getUserById'],
    ),
    
  },
  created() {
    //console.log("(UserEdit: userId:")
    //console.log(this.userId)

    //this.user = toRefs(this.getUserById(this.userId))
    this.user = { ...this.getUserById(this.userId)}

    console.log("UserEdit: user:")
    console.log(this.user)
    
    // Quitamos la contraseña
    this.user.password = ''

    // Establecemos el rol del usuario
    this.roleSelected = this.user.role

    if(this.user.role === 'teacher')
      this.teacherCoordinator = this.user.t_coordinator === '1' ? true : false

    // Creando el array de niveles de docencia
    let map = []
    let objeto = { text: '', value: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.value = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', value: '' }
    }
    //console.log("El Array/Mapa de niveles de docencia")
    //console.log(map)
    this.userLevels = map

    // Asignando al select múltiple los que ya tiene el usuario
    this.multipleLevelSelected = this.user.teaching_levels
    //console.log("Los niveles del usuario son:")
    //console.log(this.user.teaching_levels)
    
  },
  methods: {
     ...mapMutations([
      'UPDATE_USER',
    ]),
    changeSelectedRole() {
      this.user.role = this.roleSelected
    },
  
    async saveUser () {
      //console.log("currentUserItem="+JSON.stringify(this.currentUserItem))
      //console.log("userItem="+JSON.stringify(this.userItem))

      // borramos Fullname
      delete this.user.fullname
      console.log("before Update, -> updatedUser=")
      console.log(this.user)

      // Añadimos los nieveles de docencia
      this.user.teaching_levels = this.multipleLevelSelected
      // Añadimos el rol
      this.user.role = this.roleSelected
       // Si es un estudiante, t_coordinator = false
      if(this.user.role === 'student')
        this.user['t_coordinator'] = 0
      else if(this.user.role === 'teacher')
        this.user['t_coordinator'] = this.teacherCoordinator ? 1 : 0
    
      //this.user.t_coordinator = this.teacherCoordinator

      // Establecemos los niveles de docencia como cadena para la BBDD
      //console.log("teaching_levels antes de guardar")
      //console.log(this.user.teaching_levels);

      // Actualizamos las modificaciones en la BBDD
      await UserService.update(this.user.id,this.user).then(
      (response) => {
        let estado = response.status
        this.errorMessage = ''
        this.message = ''
        
        if(estado === 200) {
          this.message = this.$t("users.updated_successful")
          // Forzamos la carga de usuarios para mostrar los cambios
          this.selectedUserId = 0
          this.isSavedSuccessfully = true

          // Modificamos el "fullname"
          this.user['fullname'] = `${ this.user.firstname} ${ this.user.lastname}`

          // Actualizamos el usuario en el modelo de VUE
          this.UPDATE_USER(this.user)

        }
        else {
          this.errorMessage = response.data
          console.log("se ha enviado, pero ha fallado:")
          console.log(this.errorMessage)
        }
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      )
    },
    savedSuccesful() {
      this.isSavedSuccessfully = false // Ocultamos el modal
      this.$router.push({ name: 'Users'})
      //this.$router.push({ name: 'Dashboard', params: { newUserId: this.user.id }})
    },
    cancelUpdateUser() {
      //this.$emit('cancelEditUser')
      this.$router.go('-1')

    }
  },

}
</script>

