<template>
  <!--<div v-if="!editingUser && !isAddingUser">-->
    <!-- Búsqueda -->
    <div class="flex flex-row">
      <!--<div class="w-3/6 md:w-2/6">
        <div class="relative block w-full">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              viewBox="0 0 24 24"
              class="w-4 h-4 text-gray-500 fill-current"
            >
              <path
                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
              />
            </svg>
          </span>

          <input
            type="search"
            v-model="filter"
            :placeholder="$t('sidebar.search')"
            class="block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded appearance-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
          />
        </div>
      </div>-->
      <div v-if="selectedUserId !== 0" class="flex ml-4">
        <button 
          type="button" 
          class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-purple-300 text-white text-sm md:text-base capitalize font-medium hover:bg-white hover:text-gray-800 focus:outline-none" 
          @click="clearSelectedUser"
        >
          {{ $t("actions.clear_selection") }}
        </button>
      </div>
      <div v-else class="flex ml-4">
        <button 
          type="button" 
          class="w-full rounded-md border border-purple-600 shadow-sm px-3 bg-white text-gray-700  text-sm md:text-base capitalize font-medium hover:bg-purple-300 hover:text-white focus:outline-none" 
          @click="addNewUser"
        >
          {{ $t('actions.create') }} {{ $t('users.user')}}
        </button>
      </div>
    </div>
    <!-- Fin búsqueda -->

    <!-- Tabla -->
    <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
      <div
        class="inline-block min-w-full overflow-hidden rounded-lg shadow"
      >
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th v-if="selectedUserId !== 0"
                class="flex-1 pl-2 py-0 text-xs font-semibold tracking-wider text-center text-gray-100 uppercase bg-purple-500 border-b-2 border-gray-200"
                >
                {{ $t("actions.actions")}}

              </th>
              <th
                class="px-3 py-3 text-xs font-semibold tracking-wider text-left text-gray-100 uppercase bg-purple-500 border-b-2 border-gray-200 cursor-pointer"
                :class="{'active' : currentSort === 'username'}" 
                @click="sort('username')">{{ $t("users.username")}}</th>
              <th
                class="px-3 py-3 text-xs font-semibold tracking-wider text-left text-gray-100 uppercase bg-purple-500 border-b-2 border-gray-200 cursor-pointer"
                :class="{'active' : currentSort === 'email'}" 
                @click="sort('email')">{{ $t("users.email")}}</th>                 
              <th
                class="px-3 py-3 text-xs font-semibold tracking-wider text-left text-gray-100 uppercase bg-purple-500 border-b-2 border-gray-200 cursor-pointer"
                :class="{'active' : currentSort === 'role'}" 
                @click="sort('role')">{{ $t("users.role")}}</th> 
            </tr>
          </thead>
          <tbody>            
            <user-list-item v-for="(user, index) in sortedUsers"
              :key="user.id" 
              :index="index"
              :userItem="user"
              :selectedUserId="selectedUserId"
              @click.prevent="selectRow(user.id)"
              :class="{'bg-gray-100': (user.id == selectedUserId)}"
              @delete-selected-user="onDeleteSelectedUser"
              @edit-selected-user="onEditSelectedUser"
            ></user-list-item>
          </tbody>
        </table>              

        <!-- Paginación --> 
        <div
          class="flex flex-row justify-center px-1 py-1 bg-white border-t xs:flex-row xs:justify-between"
        >
          
          <!-- Pagination -->
          <div class="flex flex col">
            <div class="flex px-4 py-4 overflow-x-auto bg-white rounded-md">
              <div class="flex mr-4 text-xs rounded">
                <button
                  @click="firstPage"
                  class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
                ><span>{{ $t('actions.pagination_first') }}</span>
                </button>
                <button
                  @click="prevPage"
                  class="px-3 py-2 ml-0 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-indigo-500 hover:text-white"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                  </svg>
                </button>
                <button v-for="page in pages" 
                    :key="page" 
                    @click="loadPage(page)" 
                    class="px-3 py-2 leading-tight border border-r-0 border-gray-200 "
                    :class="[page !== currentPage ? 'text-indigo-700 bg-white hover:bg-indigo-500 hover:text-white' : 'bg-indigo-500 text-white hover:bg-white hover:text-indigo-700' ]">{{ page }}</button>
                <button
                  @click="nextPage" 
                  class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 hover:bg-indigo-500 hover:text-white"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                    </svg>
                  </button>
                <button
                   @click="lastPage" 
                  class="px-3 py-2 leading-tight text-indigo-700 bg-white border border-r-0 border-gray-200 hover:bg-indigo-500 hover:text-white"
                  ><span>{{ $t('actions.pagination_last') }}</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
  
  <!-- Modal Borrado -->
  <teleport to="body">
    <modal-delete 
      v-if="openDeleteModal"
      v-model:showModal="openDeleteModal"
      :title=" $t('users.delete_user_title') "
      :text=" $t('users.delete_user_body') "
      @close-modal="openDeleteModal = false"
      @delete-action="deleteSelectedUser"
    ></modal-delete>
  </teleport>
    

  <!--<user-add
    v-show="isAddingUser"
    @save-new-user="onSaveNewUser(newUser)"
    @cancel-new-user="onCancelNewUser"
  ></user-add>-->
  
  <!-- Editar usuario -->
  <!--
  <user-edit 
    v-show="editingUser"
    :userItem="currentEditUser"
    @save-edit-user="onSaveEditUser"
    @cancel-edit-user="onCancelEditUser"
  ></user-edit>
-->


</template>

<script>
import UserService from '@/services/user.service'

import UserListItem from '@/components/UserListItem'
//import UserAdd from '@/components/UserAdd'
//import UserEdit from '@/components/UserEdit'
import { defineComponent, ref } from "vue"
//import { Dialog, DialogOverlay, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
//import { ExclamationIcon } from '@heroicons/vue/outline'
import ModalDelete from '@/Views/ModalDelete'
import { mapState, mapMutations } from 'vuex'


export default defineComponent({
  name: "UsersList",
  components: {
    UserListItem,
    ModalDelete,
  },

  setup() {
    const currentSort = ref('id')
    const currentSortDir = ref('desc')
    const pageSize = ref(7)
    const currentPage = ref(1)
    const numShown = ref(5)
    const last = ref(-1)
    //const filter = ref('')
    const selectedUserId = ref(0)
    const errorMessage = ref('')
    const openDeleteModal = ref(false)
    const editingUser = ref(false)
    const isAddingUser = ref(false)
    const currentEditUser = ref(null)

    return {
      currentSort,
      currentSortDir,
      pageSize,
      currentPage,
      numShown,
      last,
      //filter,
      selectedUserId,
      errorMessage,      
      openDeleteModal,
      editingUser,
      isAddingUser,
      currentEditUser,
    };
  },

  async created() {
    // Start showing all users from database
    //if(this.users.length === 0)
      //this.users = this.getAllUsers()

    //this.users = ref(this.$store.state.users)
    // Add users from Database to VUEX state
    //async this.getAllUsers()
    //this.getAllUsers()
    //console.log("----- getAllusers:")
    //console.log(this.users)
    console.log("getUsersLoaded:"+this.usersLoaded)
    if(!this.usersLoaded) {
      // Add users from Database to VUEX state
      await this.getAllUsers()
      this.CHANGE_USERS_LOADED(true)
    }
    console.log("getUsersLoaded(2):"+this.usersLoaded)
  },
  computed: {
    ...mapState([
      'users',
      'usersLoaded',
      'searchFilter',
    ]),
    /*...mapGetters(
      ['getSearchText'],
    ),*/
    sortedUsers() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.filteredUsers.sort((a, b) => {
        let modifier = 1
        if(this.currentSortDir === 'desc') modifier = -1
        if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      }).filter((_row, index) => {
        let start = (this.currentPage-1)*this.pageSize
        let end = this.currentPage*this.pageSize
        if(index >= start && index < end) return true
      });

    },
    pages() {
      // how many pages do we have?
      /*let p = [];
      let totalPages = Math.ceil(this.users.length / this.pageSize)
      //console.log('totalPages',totalPages);
      for(let i=0;i<totalPages;i++) p.push(i+1)
      console.log(p)
      return p;*/
      // Limit pagination: https://stackoverflow.com/questions/65857993/how-to-limit-pagination-buttons-in-vue
      const numShown = Math.min(this.numShown, this.users.length)
      //console.log("numShown 1 = "+numShown)
      let first = this.currentPage - Math.floor(numShown / 2)
      //console.log("first 1 ="+first)
      first = Math.max(first, 1)
      //console.log("first 2 ="+first)
      first = Math.min(first, this.users.length - numShown + 1)
      //console.log("first 3 ="+first)
      let numeros = [...Array(numShown).keys()].map((i) => i + first)
      //let numeros = []
      //for(let i=0;i<numShown;i++) numeros.push(i+1)
      //console.log(numeros)
      return numeros
    },
    // Fuente: https://www.raymondcamden.com/2021/03/11/adding-filtering-to-my-vuejs-table-sorting-and-pagination-demo
    filteredUsers() {
      return this.users.filter(u => {
        //if(this.filter == '') return true
        //return u.username.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0
        if(this.searchFilter == '') return true
        return u.username.toLowerCase().indexOf(this.searchFilter.toLowerCase()) >= 0
      })
    },
  },
  methods: {
    ...mapMutations([
      'CHANGE_SIDEBAR_SELECTION',
      'CHANGE_USERS_LOADED',
      'ADD_USERS',
      'DELETE_USER',
    ]),
    
    sort: function(s) {
      //if s == current sort, reverse
      if(s === this.currentSort) {
        this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
      }
      this.currentSort = s;
    },
    nextPage: function() {
      if((this.currentPage*this.pageSize) < this.users.length) this.currentPage++
    },
    prevPage: function() {
      if(this.currentPage > 1) this.currentPage--
    },
    firstPage: function() {
      this.currentPage = 1
    },
    lastPage: function() {
      this.currentPage =  Math.ceil(this.users.length / this.pageSize)
    },
    loadPage:function(n) {
      this.currentPage = n
    },
    isChecked: function(selection) {
      return this.currentSort === selection
    },
    // Fuente: https://stackoverflow.com/questions/56567135/how-do-i-highlight-a-table-row-on-click-in-vuejs
    // Multiple selection: https://www.codeply.com/p/hi40H9aug9
    selectRow(userId){
      this.selectedUserId = userId
    },
    async getAllUsers() {

      // Añadimos los usuarios de la respueta de la API
      await UserService.getUsersList().then(
      (response) => {
        let users = response.data.users
        console.log(users)
  
        // Cambiar los identificadores en formato cadena por números para hacer la ordenación
        const newUsers = users.map(function(u) {
          const newU = u
          newU.id = parseInt(u.id, 10)
          if(u.teaching_levels)
            newU.teaching_levels = JSON.parse(u.teaching_levels)  
            
          return newU
        })
        users = newUsers
        
        // Ponemos los usuarios en en el estado de VUEX para que sean accesibles por el resto de la app.
        this.ADD_USERS(users)
        console.log("Añadidos los usuarios al estado de VUEX")
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      );
      
    },
    
    addNewUser() {
      this.$router.push({ name: 'UserAdd'})
    },

    onEditSelectedUser() {
      console.log("(EDIT)selectedId="+this.selectedUserId)
      this.$router.push({ name: 'UserEdit', params: { userId: this.selectedUserId}})
    },
    
    /*onCancelEditUser() {
      this.editingUser = false
      //console.log("onCancelEditUser="+this.currentEditUser)
    },*/
    clearSelectedUser() {
      this.selectedUserId = 0
    },
    onDeleteSelectedUser() {
      this.openDeleteModal = true
    },    
    async deleteSelectedUser(){
      this.errorMessage = ''
      this.message = ''
      this.openDeleteModal = false

      await UserService.delete(this.selectedUserId).then(
      (response) => {
        this.message = response.data
        // Borrar el ususario de los usuarios del componente
        //this.users.filter((userId) => userId !== this.selectedUserId)
        // Borramos el usuario del estado en VUEX
        this.DELETE_USER(this.selectedUserId)
        this.selectedUserId = 0
      },
      (error) => {
        this.errorMessage =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
        }
      )
    },
  },
  watch: {
    filter() {
      //console.log('reset to page 1 due to filter');
      this.currentPage = 1;
    },
  },
  mounted() {
    // Establecemos las última página
    this.last =  Math.ceil(this.users.length / this.pageSize)
    this.CHANGE_SIDEBAR_SELECTION('users')  
    console.log("UserList, mounted!!")

    this.currentSort = 'id'
    this.currentSortDir='desc'
    this.sortedUsers
  },
})
</script>


