<template>
  <VeeForm v-slot="{ handleSubmit  }" :validation-schema="schema" as="div">
    <form @submit="handleSubmit($event, saveItem)"  class="shadow-lg">
      <div class="p-6 bg-white rounded-md shadow-md">
        <h2 class="text-lg font-semibold text-gray-700 capitalize">
          {{ $t('users.account_settings')}}
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-base">
          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.firstname") }}</span>
            </label> 
            <Field 
              name="firstname" 
              id="firstname"
              type="text" 
              autocomplete="firstname"
              v-model="user.firstname"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="firstname" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.lastname") }}</span>
            </label> 
            <Field 
              name="lastname" 
              id="lastname"
              type="text" 
              autocomplete="lastname"
              v-model="user.lastname"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="lastname" 
              class="text-base text-red-600"  
            />  
          </div>
          
          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.username") }}</span>
            </label> 
            <Field 
              name="username" 
              id="username"
              type="text" 
              autocomplete="username"
              v-model="user.username"
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="username" 
              class="text-base text-red-600"  
            />  
          </div>

          <div class="flex flex-col">
            <label>
              <span>{{ $t("users.email") }}</span>
            </label> 
            <Field 
              name="email" 
              id="email"
              type="email" 
              autocomplete="email"
              v-model="user.email" 
              class="input input-primary input-bordered input-sm md:input-md"
            /> 
            <ErrorMessage name="email" 
              class="text-base text-red-600"  
            />
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.password") }}</span>
            </label> 
            <Field 
              name="password" 
              id="password"
              type="password" 
              placeholder="**********" 
              autocomplete="new_password"
              v-model="user.password" 
              class="input input-primary input-bordered input-sm md:input-md"
            />
            <ErrorMessage name="password" 
              class="text-base text-red-600"  
            />
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.password_confirm") }}</span>
            </label> 
            <Field 
              name="password_confirm" 
              id="password_confirm"
              type="password" 
              placeholder="**********" 
              autocomplete="password_confirm"
              v-model="passwordConfirm" 
              class="input input-primary input-bordered input-sm md:input-md"
            />
            <ErrorMessage name="password_confirm" 
              class="text-base text-red-600"  
            />
          </div>

          <div class="w-full flex flex-col">
            <label>
              <span>{{ $t("users.role") }}</span> 
            </label> 
            <select 
              name="role"
              aria-label="role"
              class="select select-bordered select-primary select-sm w-full"
              v-model="roleSelected"
              @change="changeSelectedRole"
            >
              <option v-for="roleOption in roleOptions" 
                :key="roleOption.text" 
                :value="roleOption.value"
              >
                {{ roleOption.text }}
              </option>
            </select>
            
            <div v-if="roleSelected === 'teacher'" class="w-full flex flex-col">       
              <div class="p-6">
                <div class="form-control">
                  <label class="cursor-pointer label">
                    <span class="label-text">{{ $t("users.is_t_coordinator") }}?</span> 
                    <input 
                      type="checkbox"
                      name="teacherCoordinator" 
                      checked="checked" 
                      v-model="teacherCoordinator" 
                      class="checkbox" />
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="w-full flex flex-col">
            <label>
              <span></span> 
            </label> 
            <Multiselect
              v-model="multipleLevelSelected"
              :options="userLevels"
              mode="tags"
              label="text"
              valueProp="value"
              :searchable="true"
              trackBy="text"
              :placeholder="$t('users.teaching_levels')"
              openDirection="bottom"
              class="mt-6"
              :classes="{
                container: 'relative mx-auto w-full flex items-center justify-end box-border cursor-pointer border border-primary rounded bg-white text-base leading-snug outline-none',
                containerDisabled: 'cursor-default bg-gray-100',
                containerOpen: 'rounded-b-none',
                containerOpenTop: 'rounded-t-none',
                singleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                multipleLabel: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5',
                search: 'w-full absolute inset-0 outline-none appearance-none box-border border-0 text-base font-sans bg-white rounded pl-3.5',
                tags: 'flex-grow flex-shrink flex flex-wrap items-center mt-1 pl-2',
                tag: 'bg-purple-500 text-white text-sm font-semibold py-0.5 pl-2 rounded mr-1 mb-1 flex items-center whitespace-nowrap',
                tagDisabled: 'pr-2 !bg-gray-400 text-white',
                tagRemove: 'flex items-center justify-center p-1 mx-0.5 rounded-sm hover:bg-black hover:bg-opacity-10 group',
                tagRemoveIcon: 'bg-multiselect-remove bg-center bg-no-repeat opacity-30 inline-block w-3 h-3 group-hover:opacity-60',
                tagsSearchWrapper: 'inline-block relative mx-1 mb-1 flex-grow flex-shrink h-full',
                tagsSearch: 'absolute inset-0 border-0 outline-none appearance-none p-0 text-base font-sans box-border w-full',
                tagsSearchCopy: 'invisible whitespace-pre-wrap inline-block h-px',
                placeholder: 'flex items-center h-full absolute left-0 top-0 pointer-events-none bg-transparent leading-snug pl-3.5 text-gray-400',
                caret: 'bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none',
                caretOpen: 'rotate-180 pointer-events-auto',
                clear: 'pr-3.5 relative z-10 opacity-40 transition duration-300 flex-shrink-0 flex-grow-0 flex hover:opacity-80',
                clearIcon: 'bg-multiselect-remove bg-center bg-no-repeat w-2.5 h-4 py-px box-content inline-block',
                spinner: 'bg-multiselect-spinner bg-center bg-no-repeat w-4 h-4 z-10 mr-3.5 animate-spin flex-shrink-0 flex-grow-0',
                dropdown: 'absolute -left-px -right-px bottom-0 transform translate-y-full border border-gray-300 -mt-px overflow-y-scroll z-50 bg-white flex flex-col rounded-b',
                dropdownTop: '-translate-y-full top-px bottom-auto flex-col-reverse rounded-b-none rounded-t',
                dropdownHidden: 'hidden',
                options: 'flex flex-col p-0 m-0 list-none',
                optionsTop: 'flex-col-reverse',
                option: 'flex items-center justify-start box-border text-left cursor-pointer text-base leading-snug py-2 px-3',
                optionPointed: 'text-gray-800 bg-gray-100',
                optionSelected: 'text-white bg-green-500',
                optionDisabled: 'text-gray-300 cursor-not-allowed',
                optionSelectedPointed: 'text-white bg-green-500 opacity-90',
                optionSelectedDisabled: 'text-green-100 bg-green-500 bg-opacity-50 cursor-not-allowed',
                noOptions: 'py-2 px-3 text-gray-600 bg-white',
                noResults: 'py-2 px-3 text-gray-600 bg-white',
                fakeInput: 'bg-transparent absolute left-0 right-0 -bottom-px w-full h-px border-0 p-0 appearance-none outline-none text-transparent',
                spacer: 'h-9 py-px box-content',
              }"
      
            />  
          </div>
        </div>

        <div class="flex justify-center space-x-10 mt-4">
          <button 
            class="h-10 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700 capitalize"
            :class="[multipleLevelSelected.length === 0 ? 'cursor-not-allowed cursorpointer-none opacity-25': '']"
            :disabled="multipleLevelSelected.length === 0">
            {{ $t('actions.save')}}
          </button>
          <button 
            type="button"
            @click="cancelNewUser" 
            class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800 capitalize">
            {{ $t('actions.cancel')}}
          </button>
        </div>
      </div>
    </form>
  </VeeForm>

  <!-- Modal isSavedSuccessfully -->
  <teleport to="body">
    <modal-info 
      v-if="isSavedSuccessfully"
      v-model:showModal="isSavedSuccessfully"
      :title=" $t('users.header_useradd') "
      :text=" $t('users.created_successful') "
      @close-modal="savedSuccesful"
    ></modal-info>
  </teleport>

</template>

<script>
import UserService from '@/services/user.service'
import { Form as VeeForm, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import Multiselect from '@vueform/multiselect'
import { mapMutations } from 'vuex'
import ModalInfo from '@/Views/ModalInfo'


export default {
  name: "UserAdd",
  components: {
    VeeForm,
    Field,
    ErrorMessage,
    Multiselect,
    ModalInfo,
  },
  data() {
     yup.addMethod(yup.string, 'allowEmpty', function (_formats, _parseStrict) {
      return this.transform(v => v === '' ? null : v).nullable()
    })

    const schema = yup.object().shape({
      firstname: yup.string().required(this.$t('users.create_error_firstname_required')),
      lastname: yup.string().required(this.$t('users.create_error_lastname_required')),
      username: yup
        .string()
        .required(this.$t('users.create_error_username_required'))
        .min(4, this.$t('users.create_error_username_min'))
        .max(50, this.$t('users.create_error_username_max')),
      email: yup
        .string()
        .required(this.$t('users.create_error_email_required'))
        .email(this.$t('users.create_error_email_valid'))
        .max(250, this.$t('users.create_error_email_max')),
      password: yup
        .string()
        .required(this.$t('users.create_error_password_required'))
        .min(8, this.$t('users.create_error_password_min'))
        .max(40, this.$t('users.create_error_password_max')),
      password_confirm: yup
        .string()
        .required(this.$t('users.create_error_password_required'))
        .min(8, this.$t('users.create_error_password_min'))
        .max(40, this.$t('users.create_error_password_max'))
        .oneOf([yup.ref("password"),null], this.$t('users.create_error_password_missmatch')),
    })
    

    return {
      submitted: false,
      message: "",
      schema,
      roleOptions: [
        { text: 'Professorat', value: 'teacher' },
        { text: 'Alumnat', value: 'student' },
        { text: 'Administrador', value: 'admin' }
      ],
      roleSelected: 'student',
      userLevels: [],
      levelSelected: '',
      multipleLevelSelected: [],
      teacherCoordinator: 0,
      user: {
        id: null,
        username: '',
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        role: '', 
        t_coordinator: '',
        teaching_levels: '',
      },
      passwordConfirm: '',
      isSavedSuccessfully: false,
    }

  },
  computed: {
    /*loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },*/

  },
  mounted() {
    /*if (!this.loggedIn) {
      this.$router.push("/")
    }*/
    this.changeSelectedRole()

    // Creando el array de niveles de docencia.
    // Map created
    /*var map = new Map();
    // Using loop to insert key
    // value in map
    for(var i = 0; i < this.level_codes.length; i++){
        map.set(this.level_codes[i], this.level_names[i]);
    }
    //console.log(map)*/
    let map = []
    let objeto = { text: '', value: '' }
    for(let i=0; i < this.level_codes.length; i++) {
      objeto.text = this.level_names[i]
      objeto.value = this.level_codes[i]
      map.push(objeto)  
      objeto = { text: '', value: '' }
    }
    //console.log(map)
    this.userLevels = map
    
  },
  methods: {
    ...mapMutations([
      'ADD_NEW_USER',
      //'ADD_USER_WITH_FULL_NAME',
    ]),
    changeSelectedRole() {
      this.user.role = this.roleSelected
    },
    changeSelectedLevel() {
      this.user.teaching_levels = this.levelSelected
    },
    cancelNewUser() {
      //this.$router.push("/")
      this.$router.go('-1')
      //this.$emit('cancelNewUser')
    },
    async saveItem() {
      this.message = ''
      this.errorMessage = ''
      this.submitted = true

      // Añadimos los nieveles de docencia
      this.user.teaching_levels = this.multipleLevelSelected
      // Añadimos el rol
      this.user.role = this.roleSelected
      // Añadimos si el profesor es coordinador.
      this.user.t_coordinator = this.teacherCoordinator

      // Creamos el registro en la BBDD
      await UserService.create(this.user).then(
      (response) => {
        //console.log(response)
        //console.log(response.data)
        //console.log(response.status)
        let estado = response.status

        if(estado === 200) {
          // Modal de OK
          this.isSavedSuccessfully = true;

          this.message = this.$t("users.created_successful")
          console.log(this.message)

          // recuperamos el id de la respuesta de la API
          this.user.id = response.data.user.id 
          // Añadir el usuario a los datos en VUEX       
          //this.ADD_NEW_USER(response.data.user)
          this.ADD_NEW_USER(this.user)

          //this.$router.push({ name: 'Users'})
          //console.log("Usuario creado para insertar en VUEX:")
          //console.log(response.data.user)


        }
        else {
          this.errorMessage = response.data
          console.log("se ha enviado, pero ha dado error:")
          console.log(this.errorMessage);
          console.log(estado)
        }
      },
      (error) => {
       
          if(error.response.status !== 200){
            console.log("status distinto 200")
            console.log("Error resposne data:")
            console.log(error.response.data)

          if(error.response.data.username 
            || error.response.data.password 
            || error.response.data.email
            || error.response.data.role) {
              this.errorMessage = error.response.data.username 
            || error.response.data.password 
            || error.response.data.email
            || error.response.data.role
          } 

          /*if (this.errorMessage === 'The username field must contain a unique value.')
            this.errorMessage = this.$t("users.created_error_username1")
          else if (this.errorMessage === 'The email field must contain a unique value.')
            this.errorMessage = this.$t("users.created_error_email")
          else if (this.errorMessage === 'The password field must be at least 8 characters in length.')
            this.errorMessage = this.$t("users.created_error_password")
          else if (this.errorMessage === 'The username field is required.')
            this.errorMessage = this.$t("users.created_error_username2")
          else if (this.errorMessage === 'The role field is required.')
            this.errorMessage = this.$t("users.created_error_role")*/

          }
        }
      );

    },
    savedSuccesful() {
      this.isSavedSuccessfully = false // Ocultamos el modal
      this.$router.push({ name: 'Users'})
      //this.$router.push({ name: 'Dashboard', params: { newUserId: this.user.id }})
    },
    newUser() {
      this.submitted = false
      this.user = {}
    },
    
  },
};
</script>
