<template>
  <header
    class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-indigo-600"
  >
    <div class="flex items-center">
      <!-- Hamburguer icon -->
      <button
        @click="isOpen = true"
        class="text-gray-500 focus:outline-none lg:hidden"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6H20M4 12H20M4 18H11"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <div class="relative mx-4 lg:mx-0">
        
      <!-- Input de búsqueda global -->

        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="w-5 h-5 text-gray-500" viewBox="0 0 24 24" fill="none">
            <path
              d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>

        <input 
          type="search" 
          v-model="searchText" 
          :placeholder="$t('sidebar.search')" 
          class="flex-1 pl-10 input input-sm"
          :keyUp="$emit('onSearch', searchText)"
        >
        <!--<div class="form-control w-1/4 md:w-32 mb-2 mt-1 ">
        <input type="search" v-model="filter" placeholder=" " 
          class="flex-1 p-2 input input-bordered input-sm"
        >          
      </div>-->  
      </div>
    </div>

    <div class="flex items-center">
      <!--  Notification -->
      <!--
        <button class="flex mx-4 text-gray-600 focus:outline-none">
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      -->
      <!-- Language -->
      <div class="relative">
        <button
          @click="dropdownOpenLanguage = !dropdownOpenLanguage"
          class="relative mx-2 z-10 block w-8 h-8 overflow-hidden focus:outline-none text-gray-500"
        >
         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        </button>

        <div
          v-show="dropdownOpenLanguage"
          @click="dropdownOpenLanguage = false"
          class="fixed inset-0 z-10 w-full h-full"
        ></div>

        <transition
          enter-active-class="transition duration-150 ease-out transform"
          enter-from-class="scale-95 opacity-0"
          enter-to-class="scale-100 opacity-100"
          leave-active-class="transition duration-150 ease-in transform"
          leave-from-class="scale-100 opacity-100"
          leave-to-class="scale-95 opacity-0"
        >
          <div
            v-show="dropdownOpenLanguage"
            class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl"
          >
           <a
              href="#"
              @click="changeLanguage('ca')"

              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.lang_ca")}}
            </a>
            <a
              href="#"
              @click="changeLanguage('es')"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.lang_es")}}
            </a>
            <a
              href="#"
              @click="changeLanguage('en')"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.lang_en")}}
            </a>
          </div>
        </transition>
      </div>

      <!-- Profile -->  
      <div class="relative">
        <button
          @click="dropdownOpen = !dropdownOpen"
          class="relative z-10 block w-8 h-8 overflow-hidden focus:outline-none text-gray-500"
        >
          <!--<img
            class="object-cover w-full h-full"
            src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=296&q=80"
            alt="Your avatar"
          />-->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
          </svg>
        </button>



        

        <div
          v-show="dropdownOpen"
          @click="dropdownOpen = false"
          class="fixed inset-0 z-10 w-full h-full"
        ></div>

        <transition
          enter-active-class="transition duration-150 ease-out transform"
          enter-from-class="scale-95 opacity-0"
          enter-to-class="scale-100 opacity-100"
          leave-active-class="transition duration-150 ease-in transform"
          leave-from-class="scale-100 opacity-100"
          leave-to-class="scale-95 opacity-0"
        >
          <div
            v-show="dropdownOpen"
            class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl"
          >
            <!--<a
              href="/profile"

              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.lang_ca")}}
            </a>-->
            <router-link
              :to="{ name: 'Profile' }"
              @click.prevent="dropdownOpen = !dropdownOpen"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.profile")}}
            </router-link>
            <router-link
              :to="{ name: 'Logout' }"
              @click="logOut()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
              >
              {{ $t("sidebar.exit")}}
            </router-link>
          </div>
        </transition>
      </div>
    </div>
  </header>
</template>

<!--<script lang="ts">
import { defineComponent, ref } from "vue";
import { useSidebar } from "../hooks/useSidebar";

export default defineComponent({
  // eslint-disable-next-line no-unused-vars
  setup(_, { emit }) {
    const dropdownOpen = ref(false);
    const { isOpen } = useSidebar();

    return {
      isOpen,
      dropdownOpen,
    };
  },
});
</script>-->
<script>
import { defineComponent, ref} from 'vue'
import { useSidebar } from "../hooks/useSidebar";

export default defineComponent({
  // eslint-disable-next-line no-unused-vars
  setup(_, { emit }) {
    const dropdownOpen = ref(false)
    const dropdownOpenLanguage = ref(false)
    const { isOpen } = useSidebar();
    const searchText = ref('')
    
    return {
      isOpen,
      dropdownOpen,
      dropdownOpenLanguage,
      searchText,
    };

  },
  
  methods: {
    logOut() {
      //this.$store.dispatch('auth/logout')
      //this.$router.push('/')
      this.$router.push({ name: 'Logout'})
    },
    changeLanguage(newLang) {
      //this.itemLanguageVisible = !this.itemLanguageVisible
      this.dropdownOpenLanguage = false
      this.$i18n.locale = newLang
      // recargar la página donde estemos
      //this.$forceUpdate()
    },
  },
})
</script>
