<template>
  <!--<div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>-->
  <router-view />
</template>

<script>
export default {
  name: "App",
}
/*
import { defineComponent } from "vue";

//const layout = "default-layout";

export default defineComponent({
  setup() {
    return {
      layout,
    };
  },
});
*/
</script>
